<div class="container-fluid panel-body">
    <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
    <div class="title-wrapper">
        <div class="input-title">
            <mat-form-field class="example-full-width">
                <input matInput
                       [disabled]="!canEdit"
                       placeholder="Create a Note"
                       [(ngModel)]="quickNoteTitle">
            </mat-form-field>
        </div>
        <div class="button-title">
            <button mat-fab [disabled]="!canEdit" (click)="AddNote()">
                <mat-icon >add</mat-icon>
            </button>
        </div>
    </div>
    <div class="title-names">
        <div class="nr-title"></div>
        <div class="title-name">
            <span style="margin-left: 13px;">TITLE</span>
        </div>
    </div>
    <div style="width: 100%;">
        <hr class="heading-divider" />
    </div>
    <div [dragula]="'note-bag'" [dragulaModel]="notes" *ngIf="notes">
        <div style="width: 100%;" *ngFor="let note of notes; index as i; last as l">
            <div class="note-item" (click)="SelectNote(note)" style="cursor: pointer;" [ngClass]="(note==selectedNote)?'note-item-selected':'note-item'">
                <div class="nr-title order">
                    <span class="order-span">{{ i+1 }}</span>
                </div>
                <div class="title-name heading" style="cursor: pointer;">
                    <span class="heading-span">{{ note.noteHeader }}</span>
                </div>
                <div style="display: none;">
                    <span>{{ note.noteText }}</span>
                </div>
                <div class="agenta-item-delete">
                    <button mat-button
                            [disabled]="!canEdit" (click)="removeNoteItem(note)">
                        <mat-icon >delete</mat-icon>
                    </button>
                </div>
            </div>
            <div style="width: 100%;">
                <hr class="content-divider" />
            </div>
        </div>
    </div>
</div>
