<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div *ngIf="isAuthenticated" class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <app-header-logo></app-header-logo>
        <a *ngIf="isAuthenticated" (click)="toggleSidebar()" data-toggle="collapse">
            <i class="fa fa-navicon fa-lg"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto" style="padding-bottom: 5px;">
                <app-header-search></app-header-search>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
<!--                <app-header-alerts></app-header-alerts>-->
                <li *ngIf="!isAuthenticated">
                    <a class="login-item">
                        <i class="fa fa-fw fa-power-off"></i> Log in </a>
                </li>
                <app-header-user></app-header-user>
            </ul>
        </div>
    </nav>
</div>
