@import "../../../../../styles";

.companyarea {
  height: 20%;
  width: 240px;

  .logo {
    img {
      width: 200px;
      height: 200px;
      padding: 50px 30px 30px 60px;
    }
  }
  h1 {
    color: $menu-text-color;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
  }
}

.transform {
  width: 200px;
  margin-top: 100px;
  padding: 1px;
}

.collapse {
    display: block;
    width: 62px;

    .logo {
      img {
        display: none;
      }
    }

    span {
      display: none;
    }

    h1 {
      transform:  translateX(-35%) translateY(450%) rotate(-90deg);
    }

    .fa {
      color: $menu-text-color;
      font-size: 20px;
      transform: translateY(10%);
    }
  }
