<div id="companyInfo" class="companyarea">
    <div class="logo">
      <img id="u1509_img"
           class="img" [src]="user?.companyLogo">
      <h1 id="companyName" >{{ user?.company }}</h1>
    </div>
</div>

