@import "../../../../../styles";

.icon-user {
    color: #7c7c7c;
    display: block;
    padding: $top-nav-link-padding;
    margin-top: 8px;
    margin-right: 20px;
    width: 50px;
}

.top-icon {
    font-size: 23px;
}

.header-icon {
    font-size: 23px;
    margin-top: 10px;
}

.topnav {
    border-radius: 0;
    background-color: $top-nav-background-color;
    padding: $top-nav-link-padding;
    z-index: 2;

    .text-center {
        text-align: center;
        padding-left: 0;
        cursor: pointer;
    }

    .top-right-nav {
        .buy-now {
            a {
                color: #999;
            }
        }

        .dropdown-menu {
            top: 40px;
            right: -5px;
            left: auto;

            .message-preview {
                .media {
                    .media-body {
                        .media-heading {
                            font-size: 14px;
                            font-weight: bold;
                            margin-bottom: 0;
                        }

                        p {
                            margin: 0;
                        }

                        p.last {
                            font-size: 13px;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            hr {
                margin-top: 1px;
                margin-bottom: 4px;
            }
        }
    }
}

.login-item {
    position: relative;
    top: 10px;
    cursor: pointer;
    color: $top-nav-link-color !important;
}

.header .navbar {
    background: $top-nav-background-color !important;
    border-bottom: $top-nav-link-color solid 1px;
}

.user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
    background-color: #fff;
}

.navbar-inverse .navbar-nav .nav-link {
    color: #3896C9;
}

.dropdown-menu {
    cursor: pointer;
}

.grey {
    color: #7b7b7b;
}

.mat-icon {
    font-size: 30px;
}

.dropdown-toggle::after {
    display: inline;
    float: right;
    margin-top: -15px;
}

.picture {
    padding: 5px;
    border-radius: 50%;
    background-color: #bbb;
    width: 40px;
}
