<li class="nav-item dropdown" ngbDropdown>
    <a href="javascript:void(0)" class="icon-user" ngbDropdownToggle>
<!--        <i class="fa fa-user-circle header-icon" aria-hidden="true"></i>-->
        <div *ngIf="user.picture === 'default'" class="picture">
            <span>{{ user.nickname | acronym }}</span>
        </div>
        <span class="sr-only">(current)</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-user-circle-o fa-2x"></i> {{ user?.nickname }}
        </a>
        <a class="dropdown-item" href="javascript:void(0)">
                <i class="fa fa-fw fa-circle-o top-icon"></i> {{ user?.role }}
        </a>
        <a *ngIf="user?.role  === 'Guest'" class="dropdown-item" href="javascript:void(0)" (click)="signUp()">
            <i class="fa fa-fw fa-chevron-circle-up top-icon"></i> Full Version</a>
        <a [routerLink]="['/setup']" routerLinkActive="active" class="dropdown-item">
            <i class="fa fa-fw fa-gear top-icon"></i>Settings
        </a>
        <a  class="dropdown-item" (click)="onLoggedOut()">
            <i class="fa fa-fw fa-power-off top-icon"></i> Log out </a>
        <a class="dropdown-item">
            <app-version></app-version>
        </a>
    </div>
</li>
