<div class="attendee-container-wrapper" *ngIf="Show">
  <div *ngIf="showPanel == 'person'">
    <div class="name-status-container">
      <div class="name-container">
          <input [ngModel]="currentAttendee?.name" type="text"
                  name="attname"
                  [disabled]="!canEdit"
                  id="nameFormInput"
                  class="attendee-name">
      </div>
      <div class="status-container">
        <mat-form-field>
          <mat-select [disabled]="!canEdit"
                      [(ngModel)]="currentAttendee.status"
                      (selectionChange)="onStatusChange($event)"
                      name="statusControl"
                      disableRipple>
            <mat-option
                [value]="statusAttendee"
                *ngFor="let statusAttendee of statusCollection">{{statusAttendee}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <hr>
    </div>
    <div class="role-company-container">
      <div class="role-company-names">
        <span class="role-name">Role:</span>
        <span class="company-name" >Company:</span>
      </div>
      <div class="role-company-inputs">
        <mat-form-field>
          <mat-select [disabled]="!canEdit"
                      [(ngModel)]="currentAttendee.role"
                      (selectionChange)="onRoleChange($event)"
                      name="rolesControl"
                      disableRipple>
            <mat-option
                [value]="roleAttendee"
                *ngFor="let roleAttendee of roleCollection">{{roleAttendee}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <input
            [disabled]="!canEdit"
            type="text"
            (change)="update()"
            appClickAnywhere="update()"
            [(ngModel)]="currentAttendee.company"
            >
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="Show">
<div class="container card"  *ngIf="showPanel == 'person'">
  <div class="row" >
    <div class="col-1">
        <img *ngIf="currentAttendee?.picture !== 'default'"
                [src]="currentAttendee?.picture"
                class="user-image"
                alt="User Image">
        <div *ngIf="currentAttendee?.picture === 'default'">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-10">
      <form class="form-inline">
        <label class="col-2" for="nameFormInput"> <b>Name</b> </label>
        <input [ngModel]="currentAttendee?.name" type="text"
               name="attname" [disabled]="!canEdit()"
               class="form-control form-control-person col-2"
               style="min-width: 250px;"
               id="nameFormInput" >

        <label class="col-2" style="display: none;" for="companyFormInput"><b>Company</b></label>
        <input type="text"
            style="display: none;"
            class="form-control form-control-person col-2"
            id="companyFormInput" placeholder="...">

        <label class="col-2" for="personStatus"><b>Invite Status</b></label>
          <div class="input-group">
            <span class="input-group-addon addon" id="attendeeIcon-select">
                <i class="fa fa-certificate recurrence" aria-hidden="true"></i>
            </span>
              <ng-select [items]="statusCollection"
                         [(ngModel)]="currentAttendee.status"
                         bindLabel="status"
                         bindValue="status"
                         [closeOnSelect]="true"
                         [markFirst]="false"
                         [placeholder]="'Select status'"
                         (add)="onStatusChange($event)"
                         name="statusControl"
                         style="width: 100%;" >
              </ng-select>
          </div>
      </form>
      <form class="form-inline">
        <label class="col-2" for="shortnameFormInput"><b>Short Name</b> </label>
        <input
            [ngModel]="currentAttendee?.name | acronym"
            type="text" name="shortName"
            class="form-control form-control-person  col-2"
            id="shortnameFormInput" >

        <label class="col-2" style="display: none;" for="departmentFormInput"><b>Department</b></label>
        <input type="text" style="display: none;" class="form-control form-control-person col-2" id="departmentFormInput" placeholder="...">
      </form>
      <form class="form-inline">
        <label class="col-2" for="roleStatus"><b>Role</b></label>
          <div class="input-group">
            <span class="input-group-addon addon" id="attendeeIcon-select">
                <i class="fa fa-eercast recurrence" aria-hidden="true"></i>
            </span>
              <ng-select [items]="roleCollection"
                         [(ngModel)]="currentAttendee.role"
                         bindLabel="role"
                         bindValue="role"
                         [closeOnSelect]="true"
                         [markFirst]="false"
                         [placeholder]="'Select status'"
                         (add)="onRoleChange($event)"
                         name="rolesControl"
                         style="width: 100%;" >
              </ng-select>
          </div>
        <label class="col-2" style="display: none;" for="representingFormInput"><b>Representing</b></label>
        <input type="text" style="display: none;" [disabled]="!canEdit()" class="form-control form-control-person col-2" id="representingFormInput" placeholder="...">
      </form>
    </div>
  </div>
  <div class="row" >
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>
</div> -->
