.my-panel {
    background-color: #E8E8E8;
}

a:hover, a:focus {
    color: #00a1ff;
    text-decoration: none;
}

.card {
    border: #d7d7d7 1px solid;
    border-radius: 0;
    padding: 5px;
    width: 100%;
}

.user-image {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
    background-color: #fff;
}

.form-control-person {
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
}

$panel-background-color: #d7d7d7;
$heading-margin-item: 15px;

.box-it {
    border: solid 1px $panel-background-color;
}

.order-item {
    margin-top: 20px;
    color: #7b7d7e;
}

.agenda-heading-item {
    margin-top: $heading-margin-item;
    font-size: xx-large;
    border: 0;
    width: 100%;
}


.name-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-container {
    width: 100%;
}

.attendee-name {
    border: none;
    font-size: 28px;
    width: 100%;
}

hr {
    color: #E7E7E7;
    height: 3px;
    border: none;
    background-color: #E7E7E7;
    margin-bottom: 0px;
}

.role-company-container {
    display: flex;
}

.role-company-names {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 47px;
    padding-top: 19px;
    font-weight: bold;
}

.role-company-inputs {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    height: 50px;
}

input[type="text"] {
    border: none;
    margin-top: 3px;
    width: 100%;
}
