$panel-background-color: #d7d7d7;
$button-background-color: #1d98d0;
section {
    &.buttonsection {
        margin-bottom: 1%;
        padding-top: 10px;
    }
    &.headersection {
        padding-top: 5px;
    }
    &.buttonsection,
    &.headersection,
        {
        border: solid $panel-background-color;
        border-width: 0 0 1px 0;
        padding-bottom: 10px;
    }
    button {
        border-radius: 0em;
        font-size: 0.9em;
        &.btn {
            &.btn-primary {
                background-color: $button-background-color;
                border-color: $button-background-color;
            }
            &:hover {
                background-color: lighten($color: $button-background-color, $amount: 20%);
            }
        }
        i {
            font-size: 16px;
        }
    }
}
