<div>
    <section class="headersection">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    Setup
                </h1>
            </div>
        </div>

    </section>
    <section class="buttonsection">
        <div class="row ">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" (click)="openNewUserModal(newuser)">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Create New User
                </button>
            </div>
            <div class="col-sm-2 offset-sm-6" style="display: none;">
                <button type="button" class="btn btn-outline-primary float-right" [disabled]="buttonState" (click)="saveUpdates()">
                    <i class="fas fa-save"></i> Save Updates
                </button>
            </div>
            <div class="col-sm-2" style="display: none;">
                <button type="button" class="btn btn-primary" [disabled]="buttonState" (click)="buyLicences()">
                    <i class="fas fa-user-plus"></i> Buy More Licences
                </button>
            </div>
        </div>

    </section>

    <ng-template #newuser let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Create New User</h4>
            <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="newUserForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="center-block">First Name:
                            <input class="form-control" formControlName="firstname">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="center-block">Last Name:
                            <input class="form-control" formControlName="lastname">
                        </label>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <label class="center-block">Short Name:
                            <input class="form-control" formControlName="shortname">
                        </label>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-sm-12">
                        <label class="center-block">Email:
                            <input class="form-control" formControlName="email">
                        </label>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <!-- <div class="col-sm-6">
                        <label class="center-block">Organisation:
                            <input class="form-control" formControlName="organisation">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="center-block">Representing:
                            <input class="form-control" formControlName="representing">
                        </label>
                    </div> -->
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="closeModal(newuser)">Cancel</button>
            <button type="button" class="btn btn-info" (click)="CreateUsers()" [disabled]=!newUserForm.valid>Create New User</button>
        </div>
    </ng-template>

</div>
