// $panel-background-color: #d7d7d7;
// $heading-margin-item: 15px;

// .box-it {
//     border: solid 1px $panel-background-color;
// }
// .order-item {
//     margin-top: 20px;
//     color: #7b7d7e;
// }
.agenda-heading-item {
    // height: 70px;
    font-size: xx-large;
    border: 0;
    width: 230%;
    background-color: #fff;
}

quill-editor {
    display: block;
}

.heading-container-wrapper {
    display: flex;
    align-items: center;
}

.title-container {
    font-weight: bolder;
}

.heading-hr {
    width: 230%;
    color: #1F7DD0;
    border: none;
    background-color: #1F7DD0;
    margin-top: 5px;
    height: 1px;
}