<div *ngIf="showPanel == 'agenda'">
    <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
    <div class="heading-container-wrapper">
        <div style="display: flex;">
            <div style="flex: 1;">
                <i class="fa fa-2x fa-hourglass-half " aria-hidden="true"></i>
            </div>
            <div style="flex: 1;">
                <input #durationControl
                       type="number"
                       appClickAnywhere="update(durationControl.value)"
                       [disabled]="!canEdit"
                       style="width: 50px; border: none; padding-left: 10px;"
                       [value]="selectedAgenda.duration"
                       (keyup.enter)="update(durationControl.value)"
                       (blur)="update(durationControl.value)"
                       (change)="update(durationControl.value)">
            </div>
        </div>
        <div class="title-container">
            <input class="agenda-heading-item"
                   [disabled]="!canEdit"
                   placeholder="Agenda Topic Title"
                   (change)="updateAgendaHeading()"
                   [(ngModel)]="selectedAgenda.agendaHeading"
                   appClickAnywhere="updateAgendaHeading()">
            <hr class="heading-hr">
        </div>
    </div>
    <div class="editor-container-wrapper">
        <angular-editor
            id="agendaEditor"
            appClickAnywhere="blur()"
            [config]="editorConfig"
            (blur)="blur()"
            [(ngModel)]="agenda">
        </angular-editor>
    </div>
</div>
