// $topnav-background-color: #4AADD9;
@import "../../../../styles";


.sidebar {
  bottom: 0;
  margin-top: 60px;
  width: 240px;
  height: 1400px;
  border: $side-menu-background-color;
  border-style: solid;
  border-width: 1px;
  background-color: $side-menu-background-color;

  .companyarea {
    height: 20%;
    width: 240px;

    .logo {
      img {
        width: 200px;
        height: 200px;
        padding: 50px 30px 30px 60px;
      }
    }

    h1 {
      color: $menu-text-color;
      font-size: 14px;
      padding-left: 35px;
      padding-bottom: 10px;
    }

    .fa {
      margin-left: 100px;
      padding: 5px 5px 5px 5px;
      color: $menu-text-color;
      font-size: 14px;
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      cursor: pointer;
    }

  }


  .list-group-item {
    font-size: 14px;
    background-color: $side-menu-background-color;
    color: $menu-text-color;
    border-color: $menu-item-color;
    border-right:  0px;
    border-left:   0px;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;

    &.active, &:hover {
      background-color:  $active-menu-item;
    }
  }

  &.collapse {
    display: block;
    width: 63px;

    .logo {
      img {
        display: none;
      }
    }
    span {
      display: none;
    }

    h1 {

      transform:  translateX(-35%) translateY(450%) rotate(-90deg);

    }

    .fa {
      color: $menu-text-color;
      font-size: 20px;
      transform: translateY(10%);
    }

    .list-group-item {
      color: $side-menu-background-color;
      overflow: hidden;
      height: 50px;

      &.active, &:hover {
        color:  #73bbfa !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    top: 54px;
    left: 00px;
    margin-top: 99px;
  }
}


