$minutz-blue: #1F98D0;

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background-color: $minutz-blue;
}
.dropzone.dz-clickable {
  cursor: pointer;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}
dropzone.css
.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 54px 54px;
}
dropzone.css
.dropzone, .dropzone * {
  box-sizing: border-box;
}

.dz-message{
  padding: 10px;
}


.dropzone {
  width: 300px;

  outline: 2px dashed #ADB4B5;
  outline-offset: -10px;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  position: relative;
  padding: 20px 20px;
  text-align: center;

  .active {
    outline-offset: 0;
  }

  &.error {
    outline: 2px dashed #C66161;

    .icon {
      color: #C66161;
    }

    .error-msg {
      color: #C66161;
    }
  }

  &.success {
    outline: 2px dashed #589258;

    .icon {
      color: #589258;
    }
  }

  .icon {
    color: #ADB4B5;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80px;
  }

  span {
    display: block;
  }
}
