<div class="container-fluid" *ngIf="showPanel == 'attachment'">
        <div>{{loading}}</div>
        <a mat-raised-button color="primary" href="{{ fileLink }}" target="_blank" >Download {{ selectedAttachment.name }} </a>
        <div [hidden]="!selectedAttachment.fileExtension === 'pdf' ">
            <pdf-viewer
            [src]="pdfLink"
            [fit-to-page]="true"
            [original-size]="false"
            [autoresize]="true"
            (on-progress)="onProgress($event)" [hidden]="!selectedAttachment.fileExtension === 'pdf' "
        ></pdf-viewer>
        </div>
</div>
