// $topnav-background-color: #4AADD9;
@import "../../../../../styles";
.sidebar {
  .list-group-item{}
  &.collapse {
    display: none;
  }
}
.list-group-item {
  font-size: 14px;
  background-color: $side-menu-background-color;
  color: $menu-text-color;
  border-color: $menu-item-color;
  border-right:  0px;
  border-left:   0px;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-top-left-radius: 0em;
  cursor: pointer;
  &.active, &:hover {
    background-color:  $active-menu-item;
  }
  &.collapse {
    display: none;
  }
}
.white {
  color: $menu-text-color;
}
@media screen and (max-width: 992px) {
  .sidebar {
    top: 54px;
    left: 00px;
    margin-top: 99px;
  }
}
.menuitem.active {
    background-color: #73bbfa !important;
}
.menuitem:hover {
    background-color: #73bbfa !important;
  }
  .list-group-item:hover {
    background-color: #73bbfa !important;
  }



