<ul class="list-group">
    <a (click)="getMeetings()"
            routerLinkActive="active"
            matTooltip="Dashboard items"
            class="list-group-item menuitem">
        <i class="fa fa-fw fa-dashboard"></i>&nbsp;
        <span *ngIf="!hide">Dashboard</span>
    </a>
    <a (click)="createMeeting()"
            routerLinkActive="active"
            [matTooltipPosition]="'after'"
            aria-label="Create a meeting"
            matTooltip="Create meeting"
            class="list-group-item menuitem">
        <i class="fa fa-fw fa-pencil-square-o white"></i>&nbsp;
        <span *ngIf="!hide" class="white">Create Meeting</span>
    </a>
    <a style="display: none;"
        [routerLink]="['/tables']"
        routerLinkActive="active"
        matTooltip="Tasks"
        class="list-group-item hide menuitem">
        <i class="fa fa-fw fa-check-square-o "></i>&nbsp;
        <span *ngIf="!hide">Tasks</span>
    </a>
    <a (click)="admin()"
        routerLinkActive="active"
        matTooltip="Setup"
        class="list-group-item hide menuitem">
        <i class="fas fa-wrench"></i>&nbsp;
        <span *ngIf="!hide">Setup</span>
    </a>
</ul>
