<div class="container-fluid" *ngIf="showPanel == 'actions'">
    <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="title-container">
                <input class="action-heading-item"
                       placeholder="Action Title"
                       (change)="titleChange()"
                       appClickAnywhere="titleChange()"
                       [disabled]="!editorConfig.editable"
                       [(ngModel)]="selectedAction.actionTitle" >
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="status-container">
                <mat-form-field>
                    <mat-select [(ngModel)]="status"
                                (selectionChange)="onStatusChange($event)"
                                
                                name="statusControl" >
                        <mat-option [value]="statusAction" *ngFor="let statusAction of statusCollection">{{statusAction}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid" *ngIf="showPanel == 'actions'">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="assigned-container">
                <span class="due-date-name">Created:</span>
                <div class="date-wrapper"
                     (click)="RaisedDatePicker.open()">
                    <input matInput
                           style="cursor: pointer;"
                           [disabled]="!editorConfig.editable"
                           [formControl]="raisedDatePicker"
                           [matDatepicker]="RaisedDatePicker"
                           (dateChange)="addRaisedEvent('change', $event)"
                           placeholder="Choose a date">
                    <mat-datepicker #RaisedDatePicker></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="assigned-container" style="margin-top: -15px;">
                <span class="assigned-name">Assigned To:</span>
                <div class="example-full-width">
                    <mat-form-field>
                        <mat-select
                            [disabled]="!editorConfig.editable"
                            [(ngModel)]="selectedAttendee"
                            (selectionChange)="onAssignedAttendeeChange($event.value)">
                            <mat-option>Assign to attendee</mat-option>
                            <mat-option *ngFor="let att of meetingAttendees" [value]="att">
                                {{att.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="assigned-container">
                <span class="due-date-name">Due:</span>
                <div class="date-wrapper" (click)="DueDatePicker.open()">
                    <input matInput
                           style="cursor: pointer;"
                           [disabled]="!editorConfig.editable"
                           [formControl]="dueDatePicker"
                           [matDatepicker]="DueDatePicker"
                           (dateChange)="addDueEvent('change', $event)"
                           placeholder="Choose a date">
                    <mat-datepicker #DueDatePicker></mat-datepicker>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showPanel == 'actions'">
    <div class="quill-editor-container">
        <angular-editor
            [config]="editorConfig"
            appClickAnywhere="blur()"
            (blur)="blur()"
            [(ngModel)]="action">
        </angular-editor>
    </div>
</div>
