hr {
    color: #E7E7E7;
    height: 3px;
    border: none;
    background-color: #E7E7E7;
    margin-top: 0px;
}

.title-status-container,
.date-assigned-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assigned-container {
    display: flex;
    align-items: center;
}

span {
    margin-right: 10px;
    font-weight: bold;
}

input {
    border: 0px;
}

.action-heading-item {
    font-size: xx-large;
}

.input-date {
    padding-left: 15px;
    padding-right: 20px;
    width: 150px;
}

.date-wrapper {
    display: flex;
    flex-direction: row;
}

.mat-input-element{
    padding: 5px;
    // border: 1px solid #A9A9A9;
    background-color: white;
    max-height: 40px;
}
