$header-bg-colour: #464646;
$header-text-colour: #fff;
$info-text-color: #797979;
$table-header-primary: #cccccc;
$table-header-secondary: #f2f2f2;
.card {
    border-radius: 0em;
    .card-header {
        padding: 0.6rem 1.25rem;
        background-color: $header-bg-colour;
        color: $header-text-colour;
        border-radius: 0em;
    }
}

table {
    margin-top: 1%;
    thead {
        tr {
            &.primary {
                background-color: $table-header-primary;
            }
            th {
                border: 1px solid $table-header-primary;
            }
            &.secondary {
                background-color: $table-header-secondary;
            }
        }
    }
}
