<div class="card">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-chart-line"></i>&nbsp; Licence Management
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered ">
                    <thead>
                        <tr class="primary">
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Access</th>
                            <th scope="col">Date Activated</th>
                            <th scope="col">Last Login</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name Surname 1</td>
                            <td>Account Admin</td>
                            <td>full</td>
                            <td>2017-11-30 12:00 PM</td>
                            <td>2017-11-30 12:00 PM</td>
                        </tr>
                        <tr>
                            <td>Name Surname 2</td>
                            <td>Meeting Admin</td>
                            <td>full</td>
                            <td>2017-11-30 12:00 PM</td>
                            <td>2017-11-30 12:00 PM</td>
                        </tr>
                        <tr>
                            <td>Name Surname 3</td>
                            <td>User</td>
                            <td>full</td>
                            <td>2017-11-30 12:00 PM</td>
                            <td>2017-11-30 12:00 PM</td>
                        </tr>
                        <tr>
                            <td>Name Surname 4</td>
                            <td>User</td>
                            <td>Guest</td>
                            <td>2017-11-30 12:00 PM</td>
                            <td>2017-11-30 12:00 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
