.input-date {
    padding-left: 15px;
    padding-right: 20px;
    width: 150px;
}

.date-wrapper {
    display: flex;
    flex-direction: row;
}

.mat-input-element{
    padding: 5px;
    border: 1px solid #A9A9A9;
    background-color: white;
    max-height: 40px;
}
.addon-spacer{
    margin-top: -1px;
}
