<div class="date-wrapper" (click)="MeetingDatePicker.open()">
        <span class="input-group-addon addon addon-spacer" >
                <i class="fa fa-calendar recurrence" aria-hidden="true"></i>
            </span>
        <input matInput
               [disabled]="!canEdit"
               [formControl]="meetingDatePicker"
               [matDatepicker]="MeetingDatePicker"
               (dateChange)="addEvent('change', $event)"
               placeholder="Choose a date">
        <mat-datepicker
            id="meetingDate"
            [disabled]="!canEdit"
            #MeetingDatePicker></mat-datepicker>
    </div>
