@import "../../styles";

.full-width { width: 100%;}
.btn-outline-primary {
    background-color: #1f98d0;
    color: #fff;
}
$topnav-background-color: rgb(241, 241, 241);
:host {
  display: block;
}
.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $topnav-background-color;
  text-align: center;
  color: rgb(102, 102, 102);
  padding: 3em;
  .col-lg-4{
    padding :0;
  }
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
  }
  .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(90, 90, 90, 0.6);
    color: rgb(138, 138, 138);
    border-radius: 0;
  }
  .input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
  }
  .rounded-btn{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(90, 90, 90, 0.6);
    background: $topnav-background-color;
    border: 2px solid rgba(90, 90, 90, 0.6);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }
  .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
    color: rgba(90, 90, 90, 0.6);
    border: 2px solid rgba(90, 90, 90, 0.6);
    outline: none;
  }

  h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    small {
      color: rgba(255,255,255,0.7);
    }
  }


  .form-content {
    padding: 40px 0;
  }
  .user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #FFF;
  }
}

.navigationLink{
  color: #2c3f4b;
  text-decoration: none;
}
.version {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: xx-small;
}
.login {
  background-color: blue;
}
.btn-primary{
    background-color: #1F98D0 !important;
    color: #FFF !important;
}
