<div class="login-page">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
        <div class="col-md-8 push-md-4">
            <div class="col-md-6">
                <img
                src="assets/images/minutz.full.logo.svg"
                alt="triangle with all three sides equal"
                width="300px" />

                <form role="form" (keyup.enter)="Login()" name="loginForm">
                    <div class="form-content">
                        <div class="form-group">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Email"
                                 name="username"
                                 [(ngModel)]="login.username">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="full-width">
                                <input matInput [type]="'password'"
                                 placeholder="Password"
                                 name="password"
                                 [(ngModel)]="login.password">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 pull-right" style="margin-top: -350px;">
                <a class="btn rounded-btn" [routerLink]="['/signup']"> Sign up </a>&nbsp;
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <button class="btn rounded-btn login btn-primary" (click)="Login()"> Log in </button>&nbsp;
            <a style="text-decoration: underline; cursor: pointer;" (click)="ForgotPassword()"> Forgot password </a>&nbsp;
        </div>
    </div>
    <div class="version">
        Version: {{ appVersion }}
     </div>
</div>
