<div class="card">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-building"></i>&nbsp; Company Settings
        </div>
        <div class="card-body">

        </div>
    </div>
</div>
