$header-bg-colour: #464646;
$header-text-colour: #fff;
.card {
    border-radius: 0em;
    .card-header {
        padding: 0.6rem 1.25rem;
        background-color: $header-bg-colour;
        color: $header-text-colour;
        border-radius: 0em;
    }
}
