<form>
    <h1>Select repeat pattern</h1>
    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    Occurs
                </div>
                <div class="col-sm-10">
                    <select class="form-control" >
                        <!-- <option > Edit Recurrence </option> -->
                        <option disabled selected style="display:none;">Daily</option>
                        <option value="1">Weekly</option>
                        <option value="2">The same day each month</option>
                        <option value="3">The same week each month</option>
                        <option value="4">The same day each year</option>
                        <option value="5">The same week each year</option>
                        <option value="6">Never</option>
                    </select>
                </div>
            </div>
            <div class="row" [style.margin-top.px]="10">
                <div class="col-sm-2">
                    Every
                </div>
                <div class="col-sm-10">
                    <input class="inputstyle" type="number" name="" id="" min="0"> Days
                </div>
            </div>
    </div>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
