/* You can add global styles to this file, and also import other style files */

$default-color: #d9d9d9;
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
.alert {
    animation: 1s alertAmin forwards;
}

.modal-header {
    background-color: $default-color;
}

@keyframes alertAmin {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(15px);
    }
}
