<ul class="list-group">
    <a class="list-group-item header">Minutz Setup Options</a>
    <a [routerLink]="['/admin', { outlets: {pane: ['userroles']}}]" routerLinkActive="active" class="list-group-item">
        <i class="fas fa-users"></i>&nbsp;
        <span>&nbsp;User Management</span>
    </a>
    <a style="display: none;"  [routerLink]="['/admin', { outlets: {pane: ['useractivity']}}]" routerLinkActive="active" class="list-group-item">
        <i class="fas fa-chart-line"></i> &nbsp;
        <span>User Activity</span>
    </a>
    <a style="display: none;"  [routerLink]="['/admin', { outlets: {pane: ['companysettings']}}]" routerLinkActive="active" class="list-group-item">
        <i class="fas fa-building"></i>&nbsp;
        <span>Company Settings</span>
    </a>
    <a style="display: none;" [routerLink]="['/admin', { outlets: {pane: ['accounts']}}]" routerLinkActive="active" class="list-group-item">
        <i class="far fa-money-bill-alt"></i>&nbsp;
        <span>Accounts and Billing</span>
    </a>
</ul>
