$header-bg-colour: #464646;
$header-text-colour: #fff;
.list-group {
    .list-group-item {
        &.header {
            background-color: $header-bg-colour;
            color: $header-text-colour;
        }
        &:first-child {
            border-top-right-radius: 0rem;
            border-top-left-radius: 0rem;
        }
        &:last-child {
            border-bottom-right-radius: 0rem;
            border-bottom-left-radius: 0rem;
        }
    }
}
