.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.modal-description {
    font-size: 15px;
    text-align: left;
    overflow: hidden;
    max-width: 323px;
    display: flex;
    flex-direction: column;
}

.modal-button {
    font-size: 17px;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    margin-bottom: 0px;
}

.content-container {
    margin: 8px 0px;
}

.container-number {
    display: flex;
    align-items: center;
}
.input-location {
    padding-left: 3px;
    padding-right: 100px;
}

.location-wrapper {
    display: flex;
    flex-direction: row;
}

input::-webkit-input-placeholder { color: #000; }

.input-date {
    padding-left: 15px;
    padding-right: 20px;
    width: 150px;
}

.date-wrapper {
    display: flex;
    flex-direction: row;
}

.mat-input-element{
    padding: 5px;
    border: 1px solid #A9A9A9;
    background-color: white;
    max-height: 40px;
}
.addon-spacer{
    margin-top: -1px;
}

.input-time {
    width: 85px;
    padding: 5px; // outline: none;
    // box-shadow: none !important;
    // background: transparent;
    // border: #eceeef solid 1px;
    // font-size: 16px;
    border: 1px solid #A9A9A9;
}

.spinner-icon {
    width: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: flex;
    flex-direction: row;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    opacity: 1;
}

// input[type=time]::-ms-clear {
//     width: 0;
//     height: 0;
// }

input:focus {
    outline: none;
}
