<h2 mat-dialog-title class="modal-title">Meeting Info</h2>

<mat-dialog-content class="modal-description">
    <div class="content-container">
        <div class="location-wrapper">
            <span class="input-group-addon addon" id="icon">
                <i class="fa fa-2x fa-map-marker recurrence" aria-hidden="true"></i>
            </span>
            <input
                class="input-location"
                disabled
                [(ngModel)]="meeting.location">
        </div>
    </div>
    <div class="content-container">
        <div class="date-wrapper" (click)="MeetingDatePicker.open()">
        <span class="input-group-addon addon addon-spacer" >
                <i class="fa fa-calendar recurrence" aria-hidden="true"></i>
            </span>
            <input matInput
                   disabled
                   [formControl]="meetingDatePicker"
                   [matDatepicker]="MeetingDatePicker"
                   placeholder="Choose a date">
            <mat-datepicker
                [disabled]
                #MeetingDatePicker></mat-datepicker>
        </div>

    </div>
    <div class="content-container">
        <div class="time-wrapper">
    <span class="input-group-addon addon spinner-icon" >
        <i [class]="'fa fa-clock-o recurrence'" aria-hidden="true"></i>
    </span>
            <input
                disabled
                #spinnerControl
                [type]="'time'"
                [value]="meeting.time"
                class="input-time"
                style="padding-top: 7px;">
        </div>
    </div>
    <div class="content-container container-number">
        <div class="time-wrapper">
    <span class="input-group-addon addon spinner-icon" >
        <i [class]="'fa fa-hourglass-half recurrence'" aria-hidden="true"></i>
    </span>
            <input
                disabled
                #spinnerControl
                [type]="'number'"
                [value]="meeting.duration"
                class="input-time"
                style="padding-top: 7px;">
        </div>
        <span style="margin-left: 10px;">minutes</span>
    </div>
    <div class="content-container" style="display: none;">
        <app-meeting-recurrence></app-meeting-recurrence>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" class="modal-button" (click)="close()">CLOSE</button>
</mat-dialog-actions>
