@import "../../../../../styles";

.alerts {
    color: #7c7c7c;
    display: block;
    padding: $top-nav-link-padding;
    margin-top: 5px;
    width: 50px;
}
.header-icon{
    font-size: 23px;
    margin-top: 10px;
}
