<div class="container-fluid panel-body">
    <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
    <div class="title-wrapper">
        <div class="input-title">
            <mat-form-field class="example-full-width">
                <input matInput
                       [disabled]="!canEdit"
                       placeholder="Create an Actions"
                       [(ngModel)]="quickActionTitle">
            </mat-form-field>
        </div>
        <div class="button-title">
            <button mat-fab [disabled]="!canEdit" (click)="AddAction()">
                <mat-icon >add</mat-icon>
            </button>
        </div>
    </div>
    <div class="title-names">
        <div class="nr-title">
            <span style="margin-left: 13px;">Nr</span>
        </div>
        <div class="title-name">
            <span style="margin-left: 13px;">TITLE</span>
        </div>
        <div class="due-date-name">
            <span style="margin-left: 13px;"></span>
        </div>
    </div>
    <div style="width: 100%;">
        <hr class="heading-divider" />
    </div>
    <div [dragula]="'action-bag'" [dragulaModel]="actions" *ngIf="actions">
        <div style="width: 100%;" *ngFor="let action of actions; index as i; last as l">
            <div class="action-item"
                 (click)="SelectAction(action)" style="cursor: pointer;"
                 [ngClass]="(action==selectedAction)?'action-item-selected':'action-item'">
                <div class="nr-title order">
                    <span class="order-span">{{ i+1 }}</span>
                </div>
                <div class="title-name heading" style="cursor: pointer;">
                    <span class="heading-span">{{ action.actionTitle }}</span>
                </div>
                <div class="action-due-date" style="cursor: pointer;">
                    <!-- <span>{{ action.dueDate }}</span> -->
                </div>
                <div class="agenta-item-delete">
                    <button mat-button [disabled]="!canEdit" (click)="deleteAction(action)">
                        <mat-icon >delete</mat-icon>
                    </button>
                </div>
            </div>
            <div style="width: 100%;">
                <hr class="content-divider" />
            </div>
        </div>
    </div>
</div>
