// $default-bg-color: #f2f2f2;
// $default-color: #d9d9d9;
// $add-button-color: #47A9D6;
// $delete-button-color: #9e0505;
// $add-button-highlight: lighten($color: $add-button-color, $amount: 10%);
// $delete-button-highlight: lighten($color: $delete-button-color, $amount: 10%);
// $text-shadow: 0 1px 2px rgba(0,0,0,0.5);
// $active-agenda-border-color: #1d98d0;
// $active-agenda-color: #000;
// $active-agenda-bg-color: #fff;

// .panel-body{
//     padding: 0 !important;
// }

// .input-group-addon-agenda {
//     height: 40px !important;
//     width: 100% !important;
// }
// .col-panel {
//     max-width: 80% !important;
// }

// .row-agenda-item {
//     padding-bottom: 10px;
//     cursor: pointer;
// }
// .row-agenda-item-selected {
//     padding-bottom: 10px;
//     background-color: $default-color;
//     margin-left: 1px;
//     margin-right: 1px;
//     cursor: pointer;
// }
// .row-agenda-item:hover {
//     background-color: $default-color;
//     margin-left: 1px;
//     margin-right: 1px;
// }
// .input-group-addon-agenda-fa {
//     margin-top: 8px;
// }

// .input-group-addon-agenda-icon {
//     padding: 0.5rem 0.75rem;
//     margin-bottom: 0;
//     font-size: 1rem;
//     font-weight: normal;
//     line-height: 1.25;
//     color: #464a4c;
//     text-align: center;
//     background-color: #eceeef;
//     border: 1px solid rgba(0, 0, 0, 0.15);
//     height: 40px;
// }
// .fa-big-blue {
//     font-size: 40px;
//     color: $add-button-color;
//     cursor: pointer;
// }
// .mat-expansion-panel-body {
//     padding: 0 0px 0px;
// }
// .input-group-addon-action {
//     height: 40px !important;
//     width: 100% !important;
//     border-left: 0;
//     border-right: 0;
//     border-top: 0;
//     margin-left: 15px;
// }


.title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.heading-divider, .content-divider {
    margin-top: 0px;
    margin-bottom: 0px;
}

.example-full-width {
    width: 130%;
}

.title-names, .action-item {
    display: flex;
    align-items: center;
}

.action-item {
    padding: 10px 5px;
    border-radius: 15px;
    margin: 3px 0px;
}

.nr-title {
    width: 7%;
    text-align: center;
    font-size: 12px;
}

.due-date-name {
    font-size: 12px;
}

.title-name {
    padding-left: 10px;
    font-size: 12px;
    width: 60%;
}

.heading, .order {
    font-size: 16px;
    font-weight: bold;
}

.order {
    padding: 5px;
    border-radius: 50%;
    background-color: #bbb;
}

.action-item-delete {
    text-align: center;
}

.action-item-selected {
    background-color: rgba(0,0,0,0.1);
}

.fa-big-blue {
    font-size: 40px;
    color: #47A9D6;
    cursor: pointer;
}