<div *ngIf="showPanel == 'decisions'">
    <div class="heading-container">
        <div class="title-container">
            <input class="decision-heading-item"
                   [disabled]="!isActive"
                   placeholder="Decision Title"
                   (change)="update()"
                   [(ngModel)]="selectedDecision.decisionHeader"
                   [disabled]="!isActive">
            <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
        </div>
    </div>
    <div class="assigned-container">
        <span class="due-date-name">Created:</span>
        <div class="date-wrapper" (click)="RaisedDatePicker.open()">
            <input matInput
                style="cursor: pointer;"
                [formControl]="raisedDatePicker"
                [disabled]="!editorConfig.editable"
                [matDatepicker]="RaisedDatePicker"
                (dateChange)="addRaisedEvent('change', $event)"
                placeholder="Choose a date">
            <mat-datepicker #RaisedDatePicker></mat-datepicker>
        </div>
    </div>
    <div class="quill-editor-container">
        <angular-editor
            id="decisionEditor"
            appClickAnywhere="blur()"
            [config]="editorConfig"
            (blur)="blur()"
            [(ngModel)]="decision">
        </angular-editor>
    </div>
</div>
