.decision-heading-item {
  font-size: 30px;
  width: 100%;
  height: 85px;
  margin-top: -25px;
  border: none; }

.heading-item {
  padding-bottom: 10px; }

.raised-date {
  border: 0;
  padding-left: 5px; }

.date-raised-container {
  display: flex;
  margin-top: 10px; }

.quill-editor-container {
  margin-top: 25px; }

.title-container {
  font-weight: bolder; }

.decision-heading-item {
  font-size: xx-large;
  border: 0;
  background-color: #fff;
  height: 50px; }

.heading-hr {
  color: #1F7DD0;
  border: none;
  background-color: #1F7DD0;
  margin-top: 5px;
  height: 1px; }

.assigned-container {
  display: flex;
  align-items: center; }

.date-wrapper {
  padding-left: 10px; }

/*# sourceMappingURL=meeting-decisions.component.css.map */
