<div class="meeting-table-name">
    <div class="meeting-logo">
        <i class="fa fa-bolt fa-2x"></i>
        <span style="margin-left: 5px; font-weight: bold; font-size: 26px;">My Actions</span>
    </div>
    <div class="meeting-options">
        <i class="fa fa-align-center al-cn"></i>
        <i class="fa fa-ellipsis-v el-v"></i>
    </div>
</div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="raisedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Raised</th>
        <td mat-cell *matCellDef="let row"> {{row.raisedDate  | date:'fullDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="actionTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
        <td mat-cell *matCellDef="let row"> {{row.actionTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Due</th>
        <td mat-cell *matCellDef="let row"> {{row.dueDate  | date:'fullDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/meetingAction" [queryParams]="{id:row.id}" routerLinkActive="active">
                <i class="fa fa-check-circle fa-2x"></i>
            </a>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

