@import "../../../../styles";

.mat-row:hover {
    background-color: rgba(27, 193, 255, 0.43);
    color: #FFF;
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}


.pointer {
    cursor: pointer;
}

$lines: #7c7c7c59;

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.pointer {
    cursor: pointer;
}

table.mat-table, .mat-paginator {
    border: $lines solid 1px;
}

th.mat-header-cell {
    font-size: initial;
    font-weight: bolder;
}

.meeting-table-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.el-v {
    margin-left: 40px;
}

tr.mat-header-row {
    background-color: $top-nav-link-color;
    color: #FFFFFF;
}

.mat-header-cell {
    color: #FFFFFF !important;
}

