.options {
    label {
        font-size: 10px;
        font-weight: bold;
    }
    span {
        input {
            &.datepicker-actions__input {
                cursor: pointer;
            }
        }
        button {
            &.datepicker-actions__button {
                display: none;
            }
        }
    }
}

input,
button,
select,
textarea {
    padding-left: 20px;
}

.header-inputs {
    margin: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-inputs-container {
    margin: 0px 10px;
}

.header-inputs-container-2 {
    display: flex;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    position: relative;
    z-index: 2;
}

.item {
    z-index: 2;
    padding: 2px 10px;
    background-color: #3F51B5;
    color: white;
    border-radius: 50%;
}

mat-progress-bar {
    position: absolute;
    width: 89vw;
    z-index: 1;
}

#stepper {
    margin: 0px 20px;
    padding-top: 1.5%;
    width: 92vw;
    background-color: white;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 20px;
}