<div id="inputs" *ngIf="mode !== 'run'" >
    <div class="header-inputs ">
        <div class="header-inputs-container">
            <app-meeting-location></app-meeting-location>
        </div>
        <div class="header-inputs-container">
            <app-meeting-date></app-meeting-date>
        </div>
        <div class="header-inputs-container">
            <app-spinner [type]="'time'"></app-spinner>
        </div>
        <div class="header-inputs-container-2">
            <div>
                <app-spinner [type]="'number'"></app-spinner>
            </div>
            <div>
                <span style="margin-left: 10px;">minutes</span>
            </div>
        </div>
        <div class="header-inputs-container">
            <app-meeting-tags></app-meeting-tags>
        </div>
    </div>
    <div class="header-inputs" style="display: none;">
        <div class="header-inputs-container" >
            <app-meeting-recurrence></app-meeting-recurrence>
        </div>
    </div>
</div>
<div class="header-inputs " id="stepper" style="display: none;">
    <mat-progress-bar color="primary" mode="determinate" [value]="value"></mat-progress-bar>
    <div class="items">
        <span class="item" *ngFor="let item of items; index as i">{{i+1}}</span>
    </div>
</div>
