<form>
    <h1>Send Invitations</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="title">An invitation to attend the meeting will be sent to the recipients.
                    Recipients will be
                    able to follow a link to attend the meeting.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                To:
            </div>
            <div class="col-sm-2">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios"
                               id="optionsRadios1" (ngModel)="toInput" name="checkbox"
                               value="InviteAttendees.allAttendess"
                        > All
                        Attendees
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios"
                               id="optionsRadios2" (ngModel)="toInput" name="checkbox"
                               value="InviteAttendees.newAttendees"
                        > New
                        Attendees Only
                    </label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios"
                               id="optionsRadios3" (ngModel)="toInput" name="checkbox"
                               value="InviteAttendees.custom"
                        > Custom
                    </label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="toInput === 'custom'">
            <div class="col-sm-2">
                Custom List:
            </div>
            <div class="col-sm-10">

            </div>
        </div>

        <div class="row" [style.margin-top.px]="20">
            <div class="col-sm-2">
                Message:
            </div>
            <div class="col-sm-10">
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Leave a comment" [ngModel]="inviteMessage"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="agendaOption" id=""
                               value="checkedValue" [(ngModel)]="agendaOption"> Include Agenda
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="attachmentOption"
                               id="attach" value="checkedValue" [(ngModel)]="attachmentOption"> Include
                        Attachments
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Send Invites/Update</button>
</div>
