<div class="container-fluid panel-body">
    <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
    <div class="title-wrapper">
        <div class="input-title">
            <mat-form-field class="example-full-width">
                <input matInput
                       [disabled]="!canEdit"
                       placeholder="Create a Decision"
                       [(ngModel)]="quickDecisionTitle">
            </mat-form-field>
        </div>
        <div class="button-title">
            <button mat-fab [disabled]="!canEdit" (click)="AddDecision()">
                <mat-icon >add</mat-icon>
            </button>
        </div>
    </div>
    <div class="title-names">
        <div class="nr-title"></div>
        <div class="title-name">
            <span style="margin-left: 13px;">TITLE</span>
        </div>
    </div>
    <div style="width: 100%;">
        <hr class="heading-divider" />
    </div>
    <div [dragula]="'decision-bag'" [dragulaModel]="decisions" *ngIf="decisions">
        <div style="width: 100%;" *ngFor="let decision of decisions; index as i; last as l">
            <div class="decision-item" [ngClass]="(decision==selectedDecision)?'decision-item-selected':'decision-item'">
                <div class="nr-title order" (click)="SelectDecision(decision)" style="cursor: pointer;">
                    <span class="order-span">{{ i+1 }}</span>
                </div>
                <div class="title-name heading" (click)="SelectDecision(decision)" style="cursor: pointer;">
                    <span class="heading-span">{{ decision.decisionHeader }}</span>
                </div>
                <div class="agenta-item-delete">
                    <button mat-button
                            [disabled]="!canEdit" (click)="removeDecisionItem(decision)">
                        <mat-icon >delete</mat-icon>
                    </button>
                </div>
            </div>
            <div style="width: 100%;">
                <hr class="content-divider" />
            </div>
        </div>
    </div>
</div>
