<app-bread-crumb  [feature]="feature" [page]='PageTitle'></app-bread-crumb>
<div class="container-fluid pull-padding-left-10">
    <section class="container-fluid">
        <div class="row ">
            <div class="col">
                <app-meeting-header class="push-padding-right-20"></app-meeting-header>
            </div>
        </div>
    </section>
    <div *ngIf="meeting.status === 'run' " class="row ">
        <div class="col-12">
            <ngb-progressbar type="success" [value]="progress" [striped]="true"></ngb-progressbar>
        </div>
    </div>
    <div  class="row-fluid optionsection">
        <app-meeting-options></app-meeting-options>
    </div>
    <div *ngIf="meeting.status === 'run-v2' " class="row-fluid ">
        <div class="col text-right">
            <div ngbDropdown placement="top-right" class="d-inline-block">
                <button class="btn btn-outline-primary" id="meetinginfo" ngbDropdownToggle>Meeting Info</button>
                <div ngbDropdownMenu aria-labelledby="meetinginfo">
                    <div class="row-fluid ">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="meeting.status === 'run' " class="row ">
        <ngb-progressbar type="success" [value]="25" [striped]="true"></ngb-progressbar>
    </div>
</div>
<div class="container-fluid inputsection">
    <div class="row">
        <div class="col-3">
            <!-- MEETING INFO PANEL SECTION -->
            <app-meeting-info-panel></app-meeting-info-panel>
        </div>
        <div class="col" style="margin-right: 20px;">
            <!-- MEETING TABS SECTION -->
            <mat-card>
                <app-meeting-tabs (createAgenda)="createAgenda($event)" [showPanel]="ShowPanel"></app-meeting-tabs>
            </mat-card>
        </div>
    </div>
</div>
<ng-template #minutes let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Send</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="title">Send the minutes of the meeting.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
    </div>
</ng-template>
