$panel-background-color: #d7d7d7;
$icon-color: #fff;
$button-background-color: #1d98d0;

.col-sm-9 {
   padding-left: 0px !important;
}
.col-sm-3{
    padding-right: 0px !important;
}

.col-button {
    margin-left: 40px;
}

.col-icon {
    padding-left: 5px;
}

.border-section {
    border: solid rgba(204, 204, 204, 1) 1px;
}
.headersection,
.optionsection,
.buttonsection,
.inputsection {

  border-width: 0px 0px 1px 0px;
  border-color: $panel-background-color;
  padding-top: 5px;
  padding-bottom: 10px;
}
.bottom-border {
    border-bottom: #000 solid 1px;
}

.pull-padding-left-10 {
    margin-left: -10px;
}

.push-padding-right-20 {
    margin-left: 20px;
}

.inputsection {
  height: 30%;
  border-style: none;
}

.buttonsection {
  button {
    border-radius: 0em;
    font-size: 0.9em;
    &.btn {
      &.btn-primary {
        background-color: $button-background-color;
        border-color: $button-background-color;
      }
      &:hover {
        background-color: lighten($color: $button-background-color, $amount: 20%);
      }
    }
  }
  .addon {
    background: $button-background-color;
  }
  i {
    font-size: 16px;
    margin-right: 10px;
    &.send {
      transform: rotate(-45deg);
    }
    &.recurrence {
      margin-right: 0px;
      color: $icon-color;
    }
  }
  .lastsave {
    font-style: italic;
    font-size: 0.8em;
  }
  label {
    font-size: 10px;
    font-weight: bold;
  }
}

.title {
  font-size: 15px;
}

.form-check-label {
  font-size: 12px;
}

.dropdown-item {
  &.active,
  &:active {
    background-color: #fff;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
ss-multiselect-dropdown {
  button {
    width: 35em;
  }
  a {
    color: #000000;
    &:hover {
      color: #000000;
    }
  }
}
.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn:not(:first-child), .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn:not(:first-child), .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0 !important;
}
.datepicker-actions__input{border-radius: 0 !important;}


.col-3 {
  max-width: 25%;
  margin-left: 11px;
  margin-right: 11px;
}