<div class="dashboard">
    <div>
        <div class="dashboard-breadcrumb">
            <span>Company &middot; Dashboard</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <app-meeting-list></app-meeting-list>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-action-list></app-action-list>
            </div>
        </div>
    </div>
</div>



