@import "../../../styles";

.spacer {
    width: 100%;
    height: 2px;
}

.breadcrumb {
    padding: 0 !important;
    margin-left: 10px;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #f6f6f6 !important;
    border-radius: 0.55rem;
}

.badge-default {
    background-color: #636c72;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 35%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.message-text {
    font-style: italic;
}

.right-float {
    float: right;
}

.btn-outline-primary {
    background-color: #1f98d0;
    color: #fff;
}

.button-clean {
    border-radius: 0em;
    font-size: 0.9em;
    background-color: #1f98d0;
    color: #fff;
}

.button-icon {
    color: #9ca1a4;
    cursor: pointer;
}

.button-icon:hover {
    color: #46494d;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: none;
    padding-left: 5px;
}

.breadcrumb-item {
    padding-left: 5px;
}



.dashboard {
  margin: 10px;

  &-name {
    font-weight: bolder;

    &-block {
      margin-top: 20px;
      display: flex;
    }
  }
  &-breadcrumb {
    padding-left: 5px;
  }
}


