@import "../../../../../styles";
$background-search: #f6f6f6;
.searchBar {
  border-color: $background-search;
  background-color: $background-search;
  min-width: 500px;
  height: 50px;
}
.searchBar-Header {
    margin-top: 5px;
    background-color: $background-search;
    min-width: 500px
}
.addon-search {
    height: 50px !important;
    width: 50px !important;
}
.input-group-addon-search {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: $background-search;
    border: 1px solid $background-search;
}
