<li class="searchBar-Header">
    <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
            <span class="input-group-addon-search addon-search"  id="icon">
                <i class="fa fa-search" style="margin-top: 7px;"></i>
            </span>
            <input class="form-control mr-sm-2 searchBar" type="text" placeholder="">
        </div>
    </form>
</li>
