<div class="header-wrapper">
    <div class="breadcrumb-container">
        <span >
            {{ feature }} &bull;
        </span>
        <span style="display: none;">
            {{ heading | titlecase }} &bull;
        </span>
        <span class="page" *ngIf="!isActiveStopMeeting">
            Meeting Planned
        </span>
        <span class="page" *ngIf="isActiveStopMeeting && !isActivePublishMinutes">
            Meeting Running
        </span>
        <span class="page" *ngIf="isActiveStopMeeting && isActivePublishMinutes">
            Meeting Complete
        </span>
    </div>
    <div class="buttons-container">
        <div class="icons-container">
            <button matTooltip="Audit Meeting" class="awesome-button" style="display: none;">
                <i class="fas fa-shield-alt button-icon" aria-hidden="true"></i>
            </button>
            <button mat-raised-button
                    matTooltip="Print preview" style="cursor: pointer;"
                    class="awesome-button">
                <i class="fa fa-eye button-icon" aria-hidden="true" (click)="printPreview()"></i>
            </button>
            <button mat-raised-button
                    matTooltip="Send Invitation"
                    class="awesome-button"
                    [disabled]="!canEdit"
                    *ngIf="!isActiveStopMeeting" style="cursor: pointer;"
                     >
                <i class="fa fa-paper-plane button-icon" aria-hidden="true" (click)="InviteUsers()"></i>
            </button>
            <button mat-raised-button
                    matTooltip="Issue Agenda"
                    class="awesome-button"
                    [disabled]="!canEdit"
                    *ngIf="!isActiveStopMeeting" style="cursor: pointer;"

                     >
                <i class="fa fa-calendar-minus button-icon" aria-hidden="true" (click)="IssueAgenda()"></i>
            </button>
            <button mat-raised-button
                    matTooltip="Meeting Info" style="cursor: pointer;"
                    class="awesome-button"
                    *ngIf="isActiveStopMeeting">
                <i class="fa fa-info-circle button-icon" aria-hidden="true" (click)="meetingInfo($event)"></i>
            </button>
        </div>
        <div class="submit-container">
            <div class="startMeeting-container" matTooltip="Run Meeting" *ngIf="!isActiveStopMeeting">
                <button
                    mat-flat-button
                    class="button-submit" style="cursor: pointer;"
                    color="primary"
                    [disabled]="!canEdit"
                    (click)="startMeeting()" >
                    RUN MEETING
                </button>
            </div>
            <div class="startMeeting-container" style="cursor: pointer;" matTooltip="Stop Meeting" *ngIf="isActiveStopMeeting && !isActivePublishMinutes">
                <button mat-flat-button class="button-submit" color="primary"  style="cursor: pointer;"(click)="stopMeeting()">STOP MEETING</button>
            </div>
            <div class="startMeeting-container" style="cursor: pointer;" matTooltip="Publish Minutes" *ngIf="isActiveStopMeeting && isActivePublishMinutes">
                <button mat-flat-button class="button-submit" style="cursor: pointer;" color="primary" (click)="publishMinutes()">PUBLISH
                    MINUTES</button>
            </div>
        </div>
    </div>
</div>
