.page {
    background-color: #636c72;
    padding: 1px 3px 1px 6px;
    margin-right: 4px;
    color: #fff;
    border-radius: .25rem;
}

.message {
    font-style: italic;
}

.awesome-button {
    border: none;
    background-color: #F6F6F6;
    margin: 0px 7px;
}

.awesome-disable-button {
    border: none;
    background-color: #F6F6F6;
    margin: 0px 7px;
    opacity: 0.3;
}

.button-submit {
    font-size: 13px;
    padding: 10px 15px;
    background-color: #1F98D0;
    color: #fff;
    border: none;
    box-shadow: 2px 3px 5px #999;
    border-radius: 2px;
    margin-right: 20px;
}

.button-icon {
    font-size: 23px;
    cursor: pointer;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.buttons-container, .icons-container {
    display: flex;
}

.breadcrumb-container {
    margin-left: 13px;
}

