<div class="location-wrapper">
    <span class="input-group-addon addon" id="icon">
        <i class="fa fa-2x fa-map-marker recurrence" aria-hidden="true"></i>
    </span>
    <input id="meetingLocation"
        class="input-location"
        [disabled]="!canEdit"
        placeholder="Meeting location"
        (blur)="blur()"
        [(ngModel)]="meetingLocation">
</div>
