.container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

quill-editor {
    display: block;
    margin-top: 10px;
}

span {
    font-weight: bold;
    font-size: 28px;
}