<div *ngIf="showPanel == 'objective'">
    <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
    <div class="container-wrapper">
        <div class="objective-outcome-container">
            <span>Objective</span>
            <angular-editor
                appClickAnywhere="purposeBlur()"
                [config]="editorConfig"
                (blur)="outcomeBlur()"
                [(ngModel)]="outcome">
            </angular-editor>
        </div>
        <div class="objective-outcome-container">
            <span>Outcome</span>
            <angular-editor
                appClickAnywhere="purposeBlur()"
                [config]="editorConfig"
                (blur)="purposeBlur()"
                [(ngModel)]="purpose">
            </angular-editor>
        </div>
    </div>
</div>
