<div class="wrapper">
    <app-header ></app-header>
    <!-- Sidebar -->
    <app-side-bar></app-side-bar>
    <!-- Page Content -->
    <div id="content" class="row-fluid" style="background-color: #f6f6f6;">
        <div style="height: 50px;" ></div>
        <router-outlet class="span12" style="padding-left: 30px;"></router-outlet>
    </div>
</div>
