#content {
  top: 65px;
  bottom: 0;
  width: 97%;
  padding-left: 10px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
.fa-big-blue {
    font-size: 40px !important;
}
.card {
    border-radius: 0 !important;
}
.right-float {
    float: right;
}
.full-width {
    width: 100%;
}
