.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

dropzone.css .dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 54px 54px;
}

dropzone.css .dropzone,
.dropzone * {
    box-sizing: border-box;
}

.dz-message {
    padding: 10px;
}

.dropzone {
    width: 300px;
    outline: 2px dashed #ADB4B5;
    outline-offset: -10px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    position: relative;
    padding: 20px 20px;
    text-align: center;
    .active {
        outline-offset: 0;
    }
    &.error {
        outline: 2px dashed #C66161;
        .icon {
            color: #C66161;
        }
        .error-msg {
            color: #C66161;
        }
    }
    &.success {
        outline: 2px dashed #589258;
        .icon {
            color: #589258;
        }
    }
    .icon {
        color: #ADB4B5;
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 80px;
    }
    span {
        display: block;
    }
}

.upload-input-button {
  position: absolute;
  width: 31px;
  opacity: 0;
  left: 256px;
  top: 14px;
}

.fa-big-blue {
    font-size: 40px;
    color: #47A9D6;
    cursor: pointer;
}

.button-submit {
    border: none;
    background-color: #fff;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.example-full-width {
    width: 130%;
}

.title-names,
.agenda-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nr-title {
    width: 7%;
    text-align: center;
    font-size: 12px;
}

.title-name {
    padding-left: 10px;
    font-size: 12px;
    width: 80%;
}

.heading,
.order {
    font-size: 16px;
    font-weight: bold;
}

// .order {
//     padding: 5px;
//     border-radius: 50%;
//     background-color: #bbb;
// }

.agenta-item-delete {
    text-align: center;
}

// .button-title, .button-submit, .button-title, .title-wrapper, .upload-input-button {
//     cursor: pointer;
// }

input[type=file],
input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.attendee-item {
    padding: 10px 5px;
    border-radius: 15px;
    margin: 3px 0px;
}

.attendee-item-selected {
    background-color: rgba(0,0,0,0.1);
}
