<div class="container-fluid panel-body">
    <div class="title-wrapper">
        <div class="input-title">
            <!-- <mat-form-field class="example-full-width"> -->
            <!-- [(ngModel)]="quickTopicTile" -->
            <!-- <input matInput placeholder="Drag and drop files to attach" [disabled]="!canEdit()"> -->
            <!-- </mat-form-field>  -->
        </div>
        <div class="button-title">
<!--            <button class="button-submit">-->
<!--                <i class="fa fa-plus-circle fa-big-blue"-->
<!--                onclick ="javascript:document.getElementById('fileUpload').click();"-->
<!--                aria-hidden="true"></i>-->
<!--            </button>-->
            <button mat-fab [disabled]="!canEdit" onclick ="javascript:document.getElementById('fileUpload').click();">
                <mat-icon >add</mat-icon>
            </button>
            <input type="file"
                   id="fileUpload"
                   accept=".pdf,.docx,.xls,.xlsx"
                   class="upload-input-button"

                   (change)="uploadFile()"/>
        </div>
    </div>
    <div class="title-names">
        <div class="nr-title">
            <span></span>
        </div>
        <div class="title-name">
            <span>Name</span>
        </div>
    </div>
    <div style="width: 100%;">
        <hr style="margin-top: 0 !important; margin-top: 0 !important" />
    </div>
    <div class="row">
        <div class="col">
            <div style="width: 100%;" *ngFor="let file of listFiles" >
                <div class="agenda-item" style="cursor: pointer;" [ngClass]="(file == SelectAttachment)?'attendee-item-selected':'attendee-item'">
                    <div class="nr-title order">
                        <span class="order-span"></span>
                    </div>
                    <div class="title-name heading" (click)="SelectAttachment(file)" style="cursor: pointer;">
                        <span class="heading-span">{{ file.name |  truncateFileName : 20}}</span>
                    </div>
                    <div class="agenta-item-delete">
                        <button mat-button
                                [disabled]="!canEdit" (click)="DeleteFile(file)">
                            <mat-icon >delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div style="width: 100%;">
                    <hr style="margin-top: 2px;" />
                </div>
            </div>
        </div>
    </div>
</div>
