<div *ngIf="showPanel == 'notes'">

    <div class="heading-container">
        <div class="title-container">
            <input class="note-heading-item"
                   appClickAnywhere="update()"
                   [disabled]="!canEdit"
                   placeholder="Note Title" (change)="update()"
                   [(ngModel)]="selectedNote.noteHeader">
            <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
        </div>
    </div>
    <div class="assigned-container">
        <span class="due-date-name">Created:</span>
        <div class="date-wrapper"
             (click)="RaisedDatePicker.open()">
            <input matInput
                style="cursor: pointer;"
                [disabled]="!editorConfig.editable"
                [formControl]="raisedDatePicker"
                [matDatepicker]="RaisedDatePicker"
                (dateChange)="addRaisedEvent('change', $event)"
                placeholder="Choose a date">
            <mat-datepicker #RaisedDatePicker></mat-datepicker>
        </div>
    </div>
    <div class="quill-editor-container">
        <angular-editor
            appClickAnywhere="blur()"
            [config]="editorConfig"
            (blur)="blur()"
            [(ngModel)]="note">
        </angular-editor>
    </div>
</div>
