.quill-editor {
  min-height: 16em;
  max-height: 20em;
  overflow-y: auto;
}
//.fr-wrapper > :first-child { display: none !important;}
//
//a[href="http://editor.froala.com"] {
//    display: none !important;
//    position: absolute;
//    top: -99999999px;
//}
