<div class="login-page">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
        <div class="col-md-8 push-md-4">
        <div class="col-md-6">
            <img
                src="assets/images/minutz.full.logo.svg"
                alt="triangle with all three sides equal"
                width="300px" />
            <form role="form">
                <div class="form-content">
                    <div class="panel panel-info">
                        Sign up for a 30 day trail account, and enjoy the power of keeping track of your meetings.
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" (input)="name=$event.target.value" id="fullname" placeholder="Full Name">
                    </div>
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control input-underline input-lg" (input)="username=$event.target.value" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" (input)="email=$event.target.value" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" (input)="password=$event.target.value" id="password1"
                            placeholder="Strong Password [ example: @FooIsAwesome32897 ]">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" (input)="password2=$event.target.value" id="password2"
                            placeholder="Repeat Password">
                    </div>
                </div>
                <a class="btn rounded-btn btn-primary " (click)="register()"> Register </a>&nbsp;

            </form>
        </div>
        <div class="col-md-2 pull-right" style="margin-top: -500px;">
            <a class="btn rounded-btn" [routerLink]="['/login']"> Login </a>&nbsp;
        </div>
        </div>
    </div>
    <div class="version">Version: {{ appVersion }}</div>
</div>

