<div class="container-fluid">
    <app-admin-action-bar></app-admin-action-bar>

    <div class="row">
        <div class="col-sm-2">
            <app-admin-menu></app-admin-menu>
        </div>
        <div class="col-sm-10">
            <router-outlet name="pane"></router-outlet>
        </div>
    </div>
</div>
