.modal-title {
    font-size: 25px;
    text-align: left;
    font-weight: 600;
}

.modal-button {
    font-size: 17px;
    margin-top: 10px;
    font-weight: 600;
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.modal-description {
    font-size: 15px;
    text-align: left;
    max-width: 450px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
}

mat-radio-button {
    text-align: left;
}

.mat-dialog-content {
    overflow: hidden;
}