<h2 mat-dialog-title class="modal-title">{{title}}</h2>

<mat-dialog-content class="modal-description">
    <p matLine>
        <span> {{description}} </span>
    </p>
    <mat-radio-group [(ngModel)]="toInput">
<!--        <mat-radio-button name="optionsRadios" value="InviteAttendees.allAttendess">-->
<!--            {{finput}}-->
<!--        </mat-radio-button>-->
<!--        <mat-radio-button name="optionsRadios" value="InviteAttendees.newAttendees">-->
<!--            {{sinput}}-->
<!--        </mat-radio-button>-->
    </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions>
    <button  mat-button class="modal-button" (click)="close()">CANCEL</button>
    <button  mat-button class="modal-button" color="primary" cdkFocusInitial (click)="invite()">{{successButton}}</button>
</mat-dialog-actions>
