$button-background-color: #1d98d0;
$backgound-color-duration: #e1e1e1;
$input-border: #f3f1f1;
.spinner-main {
    width: 50px;
    border: solid 1px $backgound-color-duration;
    background-color: $backgound-color-duration;
    padding-left: 10px;
    margin-left: 19px;
}

.icon-item {
    padding-left: 30px;
    padding-top: 10px;
    color: $button-background-color;
}

.duration-container {
    width: 100px;
    height: 50px;
    background: $backgound-color-duration;
    padding: 10px;
    margin-right: 20px;
}

.icon {
    width: 15%;
    height: 50px;
    float: left;
}

.control {
    margin-left: 15%;
    height: 50px;
}

#durationControl {
    background-color: $backgound-color-duration;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input:focus {
    outline: none;
}