<section class="duration-container">
        <div class="icon">
                <i class="fa fa-2x fa-hourglass-half " aria-hidden="true"></i>
        </div>
        <div class="control">
                <input #durationControl type="number" [value]="meetingAgenda ? meetingAgenda.duration : null" class="spinner-main"
                        (keyup.enter)="update(durationControl.value)" (blur)="update(durationControl.value)" (change)="update(durationControl.value)">
        </div>
</section>