.modal-title {
    font-size: 25px;
    text-align: left;
    font-weight: 600;
}

.modal-button {
    font-size: 17px;
    font-weight: 600;
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.modal-description {
    font-size: 15px;
    text-align: left;
    max-width: 450px;
}