<h2 mat-dialog-title class="modal-title">{{title}}</h2>

<mat-dialog-content class="modal-description">
    <p matLine>
        <span> {{description}} </span>
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" class="modal-button" (click)="close()">OK</button>
</mat-dialog-actions>
