.title-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 5px; }

.heading-divider,
.content-divider {
  margin-top: 0px;
  margin-bottom: 0px; }

.example-full-width {
  width: 130%; }

.title-names,
.agenda-item {
  display: flex;
  align-items: center; }

.agenda-item {
  padding: 10px 5px;
  border-radius: 15px;
  margin: 3px 0px; }

.nr-title {
  width: 7%;
  text-align: center;
  font-size: 12px; }

.title-name {
  padding-left: 10px;
  font-size: 12px;
  width: 80%; }

.heading,
.order {
  font-size: 16px;
  font-weight: bold; }

.order {
  padding: 5px;
  border-radius: 50%;
  background-color: #bbb; }

.agenta-item-delete {
  text-align: center; }

.agenda-item-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.fa-big-blue {
  font-size: 40px;
  color: #47A9D6;
  cursor: pointer; }

.agenda-list-container {
  overflow: hidden; }

.agenda-item-container {
  cursor: move; }

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }

.cdk-drag-placeholder {
  opacity: 0; }

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); }

.agenda-item-container:last-child {
  border: none; }

.agenda-list-container.cdk-drop-list-dragging .agenda-item-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); }

.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden; }

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px; }

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }

.cdk-drag-placeholder {
  opacity: 0; }

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); }

.example-box:last-child {
  border: none; }

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); }

.spinner-main {
  width: 50px;
  border: solid 1px #e1e1e1;
  background-color: #e1e1e1;
  padding-left: 10px;
  margin-left: 19px; }

.icon-item {
  padding-left: 30px;
  padding-top: 10px;
  color: #1d98d0; }

.duration-container {
  width: 100px;
  height: 50px;
  background: #e1e1e1;
  padding: 10px;
  margin-right: 20px; }

.icon {
  width: 15%;
  height: 50px;
  float: left; }

.control {
  margin-left: 15%;
  height: 50px; }

#durationControl {
  background-color: #e1e1e1; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

input:focus {
  outline: none; }

/*# sourceMappingURL=agenda-panel.component.css.map */
