<div class="container-fluid panel-body">
    <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
    <div class="title-wrapper">
        <div class="input-title">
            <mat-form-field class="example-full-width">
                <input matInput
                       [disabled]="!canEdit"
                       placeholder="Create an Agenda Topic"
                       [(ngModel)]="quickTopicTile">
            </mat-form-field>
        </div>
        <div class="button-title">
            <button mat-fab [disabled]="!canEdit" (click)="AddTopic()">
                <mat-icon >add</mat-icon>
            </button>
        </div>
    </div>
    <div class="title-names">
        <div class="nr-title">
            <span style="margin-left: 13px;">Nr</span>
        </div>
        <div class="title-name">
            <span style="margin-left: 13px;">TITLE</span>
        </div>
    </div>
    <div style="width: 100%;">
        <hr class="heading-divider" />
    </div>
    <div class="agenda-list-container" [dragula]="'agenda-bag'" [dragulaModel]="meeting.meetingAgendaCollection" *ngIf="meeting.meetingAgendaCollection">
        <div style="width: 100%;" class="agenda-item-container" *ngFor="let agenda of meeting.meetingAgendaCollection; index as i; last as l">
            <div class="agenda-item" style="cursor: pointer;" (click)="SelectTopic(agenda)" [ngClass]="(agenda==selectedAgenda)?'agenda-item-selected':'agenda-item'">
                <div class="nr-title order">
                    <span class="order-span">{{ i+1 }}</span>
                </div>
                <div class="title-name heading" style="cursor: pointer;">
                    <span class="heading-span">{{ agenda.agendaHeading }}</span>
                </div>
                <div class="agenta-item-delete">
                    <button mat-button
                            [disabled]="!canEdit" (click)="DeleteTopic(agenda, i)">
                        <mat-icon >delete</mat-icon>
                    </button>
                </div>
            </div>
            <div style="width: 100%;">
                <hr class="content-divider" />
            </div>
        </div>
    </div>
</div>
