.header-width {
    width: 100%;
    color: rgb(153, 153, 153);
    font-style: normal;
    font-size: 32px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
}

.heading-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.767);
}

.hr-thin {
    margin: 0px 20px;
    border: none;
    height: 1px;
    color: #309DD0;
    background-color: #309DD0;
}

.heading-input {
  background-color: transparent;
  border-color: transparent;
  border: none;
  height: 50px;
  width: 160px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-style: normal;
  min-height: 30px;
  width: 100%;
  font-size: 32px;
  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
  padding-bottom: 8px;
  cursor: pointer;
}

input:focus{
  outline: none !important;
  border:none;
  box-shadow: 0 0 0 0;
}
