.title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.heading-divider, .content-divider {
    margin-top: 0px;
    margin-bottom: 0px;
}

.example-full-width {
    width: 130%;
}

.title-names, .attendee-item {
    display: flex;
    align-items: center;
}

.title-names {
    margin-top: 7px;
}

.attendee-item {
    padding: 10px 5px;
    border-radius: 15px;
    margin: 3px 0px;
}

.name-role-title {
    width: 70%;
    // text-align: center;
    font-size: 12px;
}

.status-title {
    // padding-left: 10px;
    text-align: center;
    font-size: 12px;
    width: 20%;
}

.heading, .picture {
    font-size: 16px;
    font-weight: bold;
}

.heading {
    width: 50%;
    margin-left: 10%;
}

.picture {
    width: 8%;
}

.picture {
    padding: 5px;
    border-radius: 50%;
    background-color: #bbb;
}

.agenta-item-delete {
    text-align: center;
}

.attendee-item-selected {
    background-color: rgba(0,0,0,0.1);
}

.fa-big-blue {
    font-size: 40px;
    color: #47A9D6;
    cursor: pointer;
}

.heading-span {
    font-weight: 400;
    font-size: 13px;
}
