<h2 mat-dialog-title style="font-size: 25px; font-weight: 600;">Invite Guest</h2>
<div mat-dialog-content>
    <div class="container-fluid">
        <div class="row">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Name" [(ngModel)]="data.InviteeName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Email" [(ngModel)]="data.InviteeEmail">
            </mat-form-field>
        </div>
    </div>
</div>
<mat-dialog-actions style="display: flex; justify-content: flex-end;">
    <button mat-button (click)="onNoClick()" style="font-size: 17px; font-weight: 600;">CANCEL</button>
    <button mat-button  color="primary" [mat-dialog-close]="data" cdkFocusInitial style="font-size: 17px; font-weight: 600;">OK</button>
</mat-dialog-actions>
