<div class="container-fluid panel-body">
    <mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
    <div class="title-wrapper">
        <div class="input-title">
            <div class="example-full-width">
                <mat-form-field>
                    <mat-select [disabled]="!canEdit"
                                (selectionChange)="availableAttendeeSelectedEvent($event.value)">
                      <mat-option *ngFor="let att of availableAttendees" [value]="att">
                        {{att.email}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="button-title">
            <button mat-fab [disabled]="!canEdit" (click)="openDialog()">
                <mat-icon >add</mat-icon>
            </button>
        </div>
    </div>
    <div class="title-names">
        <div class="name-role-title">
            <span style="margin-left: 13px;">NAME & ROLE</span>
        </div>
        <div class="status-title">
            <span>STATUS</span>
        </div>
    </div>
    <div style="width: 100%;">
        <hr class="heading-divider"/>
    </div>
    <div style="width: 100%;" *ngFor="let attendee of meetingAttendees; index as i;">
        <div class="attendee-item" (click)="SelectAttendee(attendee)" style="cursor: pointer;" [ngClass]="(attendee==selectedAttendee)?'attendee-item-selected':'attendee-item'">
            <div *ngIf="attendee.picture !== 'default'" class="picture">
                <img [src]="attendee.picture" class="user-image" alt="User Image">
            </div>                    
            <div *ngIf="attendee.picture === 'default'" class="picture" style="cursor: pointer;">
                <span>{{ attendee.name | acronym }}</span>
            </div>
            <div class="heading" style="cursor: pointer;">
                <div>
                    <span>{{ attendee.name }}</span>
                </div>
                <div>
                    <span class="heading-span">{{ attendee.role }}</span>
                </div>
            </div>
            <div class="status-title" *ngIf="attendee.status === 'Accepted'">
                <i class="fas fa-2x fa-check-circle" style="color: green;"></i>
            </div>
            <div class="status-title" *ngIf="attendee.status === 'Declined'">
                <i class="fas fa-2x fa-times-circle" style="color: rgba(255, 0, 13, 0.822);"></i>
            </div>
            <div class="status-title" *ngIf="attendee.status === 'Pending'">
                <i class="fas fa-2x fa-clock" style="color: rgb(0, 102, 128);"></i>
            </div>
            <div class="status-title" *ngIf="attendee.status === 'Invited'">
                <i class="fas fa-2x fa-plus-circle" style="color: rgb(19, 0, 128);"></i>
            </div>
            <div class="status-title" *ngIf="attendee.status === 'Availible'">
                <i class="fas fa-2x fa-exclamation-circle" style="color: rgba(255, 217, 0, 0.952);"></i>
            </div>
            <div class="agenta-item-delete">
                <button mat-button
                        [disabled]="!canEdit" (click)="deleteAttendee(attendee, i)">
                    <mat-icon >delete</mat-icon>
                </button>
            </div>
        </div>
        <div style="width: 100%;">
            <hr class="content-divider" />
        </div>
    </div>
</div>
