<div class="card">
    <div class="card">
        <div class="card-header">
            <i class="far fa-money-bill-alt"></i>&nbsp; Account and Billing
        </div>
        <div class="card-body parent">

            <div class="container-fluid">

                <!-- Billing Access Table -->
                <div class="card nested">
                    <div class="card-header secondary">
                        Billing Access
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered">
                            <thead>
                                <tr class="secondary">
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Last Accessed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Name Surname</td>
                                    <td>NameSurname@email.com</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-10">
                                                2017-11-30 12:00 PM
                                            </div>
                                            <div class="col-sm-2">
                                                <a name="billingchange" id="1" class="btn btn-link" href="" role="button">change</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Subscription Type Table -->
                <div class="card nested">
                    <div class="card-header secondary">
                        Subscription
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered">
                            <thead>
                                <tr class="secondary">
                                    <th>Plan Type</th>
                                    <th>Users</th>
                                    <th>Price</th>
                                    <th>Term</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Plan Name</td>
                                    <td>50 Full Access / 100 Guest Access</td>
                                    <td>$ 100.00</td>
                                    <td>Monthly</td>
                                    <td>Active</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <section class="actionsection">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-primary">
                                <i class="far fa-money-bill-alt"></i>&nbsp; Change Plan
                            </button>
                            <a name="cancelsub" id="2" class="btn btn-link cancel" href="#" role="button">
                                <i class="fas fa-ban"></i>&nbsp;Cancel Subscription
                            </a>
                        </div>
                    </div>
                </section>

                <!-- Payment Method Table -->
                <div class="card nested">
                    <div class="card-header secondary">
                        Payment
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered">
                            <thead>
                                <tr class="secondary">
                                    <th>Billing Method</th>
                                    <th>Next Charge Date</th>
                                    <th>Amount Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                Card: xxxx-xxxx-xxxx-8000
                                            </div>
                                            <div class="col-sm-2">
                                                <a name="paymentchange" id="3" class="btn btn-link" href="#" role="button">change</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>2018-01-01</td>
                                    <td>$ 105.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Billing History Table -->
                <div class="card nested">
                    <div class="card-header secondary">
                        Billing History
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered">
                            <thead>
                                <tr class="secondary">
                                    <th>Purchased By</th>
                                    <th>Purchase Type</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Name Surname</td>
                                    <td>Monthly Subscription (50/100 Licences)</td>
                                    <td>2017-12-01</td>
                                    <td>$ 105.00</td>
                                </tr>
                                <tr>
                                    <td scope="row">Name Surname</td>
                                    <td>Licence Upgrade (1 Full Access User)</td>
                                    <td>2017-11-30</td>
                                    <td>$ 5.00</td>
                                </tr>
                                <tr>
                                    <td scope="row">Name Surname</td>
                                    <td>Monthly Subscription (50/100 Licences)</td>
                                    <td>2017-11-01</td>
                                    <td>$ 100.00</td>
                                </tr>
                                <tr>
                                    <td scope="row">Name Surname</td>
                                    <td>Monthly Subscription (50/100 Licences)</td>
                                    <td>2017-10-01</td>
                                    <td>$ 105.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
