$header-bg-colour: #464646;
$header-text-colour: #fff;
$header-secondary-text: #000;
$info-text-color: #797979;
$table-header-primary: #cccccc;
$table-header-secondary: #f2f2f2;
$cancel-color: #ff0000;
.card {
    border-radius: 0em;
    &.nested {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .card-body {
        &.parent {
            margin-bottom: 2%;
        }
    }
    .card-header {
        padding: 0.6rem 1.25rem;
        background-color: $header-bg-colour;
        color: $header-text-colour;
        border-radius: 0em;
        &.secondary {
            background-color: $table-header-primary;
            color: $header-secondary-text;
        }
    }
}

table {
    thead {
        tr {
            &.primary {
                background-color: $table-header-primary;
            }
            th {
                border: 1px solid $table-header-primary;
            }
            &.secondary {
                background-color: $table-header-secondary;
            }
        }
    }
    margin-bottom: 0%;
}

a {
    &.cancel,
    i {
        color: $cancel-color;
    }
}

.actionsection {
    margin-bottom: 2%;
}
