<app-meeting-tab-agenda [showPanel]="showPanel" ></app-meeting-tab-agenda>
<app-meeting-tab-objective [showPanel]="showPanel"></app-meeting-tab-objective>
<app-meeting-person-panel [showPanel]="showPanel" ></app-meeting-person-panel>
<app-meeting-actions [showPanel]="showPanel" ></app-meeting-actions>
<app-meeting-decisions [showPanel]="showPanel" ></app-meeting-decisions>
<app-meeting-notes [showPanel]="showPanel" ></app-meeting-notes>
<app-meeting-attachment-panel [showPanel]="showPanel" ></app-meeting-attachment-panel>
