.agenda-title-width {
    width: 100%;
    color: rgb(153, 153, 153);
    font-style: normal;
    font-size: 32px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
}
.panel-heading-padding {
    margin-top: 50px;
}

