
.spinner-main {
    min-width: 150px;
    padding: 5px;
    outline: none;
    box-shadow: none !important;
    background: transparent;
    border: #eceeef solid 1px;
    font-size: 12px;
}
.spinner-icon {
    width: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}
