<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group spinners">
                    <span class="input-group-addon addon spinner-icon" >
                       <i class="fa fa-hourglass-half recurrence" aria-hidden="true"></i>
                    </span>
                    <input type="time"  class="spinner-main">
                </div>
            </div>
        </div>
    </div>
</div>


