<div class="tags-wrapper">
    <span class="input-group-addon addon tags-logo" id="attendeeIcon-select">
        <i class="fa fa-tags" aria-hidden="true"></i>
    </span>
    <input
        class="padding-left-3 tags"
        placeholder="Click to add tags"
        [value]="tag"
        (keyup.enter)="textChange($event)"
        (change)="textChange($event)"
        (blur)="textChange($event)"
        [disabled]="!canEdit" >
</div>
