.tags {
    width: 100%;
    border: 0px;
}

span, i {
    // background: white;
    border: 0px;
}

.tags-wrapper {
    display: flex;
    flex-direction: row;
}

.tags, .tags-logo {
    background-color: #F6F6F6;
    // background-color: #999;
}