<div class="recurrence-wrapper">
    <span class="input-group-addon addon" id="attendeeIcon-select">
        <i class="fa fa-refresh recurrence" aria-hidden="true"></i>
    </span>
    <ng-select [items]="meetingTypes"
               [(ngModel)]="meeting.recurrenceType"
               bindLabel="value"
               bindValue="id"
               class="input-recurrence"
               [closeOnSelect]="true"
               [markFirst]="false"
               [placeholder]="'Select recurrence'"
               (add)="onChange($event)"
               style="width: 100%;" >
    </ng-select>
</div>

