.inputstyle {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.input-recurrence {
  padding-left: 8px;
  // padding-right: 85px;
  margin-left: -8px;
  // min-width: 200px;
}

.recurrence-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 250px;
  margin-right: 20px;
}