// .actionbar {

//     ngb-accordion {

//         .card {
//             border-radius: 0;
//             .card-header {
//                 background-color: #d7d7d7;

//                 a {
//                     text-decoration: none;

//                     span {
//                         color: #169BD5;
//                         i {
//                             color: #169BD5;
//                         }
//                     }
//                 }



//                 &.active, &:hover {
//                     background-color: #4c4c4c;

//                     a {
//                         text-decoration: none;

//                         span {
//                             color: #fff;
//                             i {
//                                 color: #fff;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }

// }

// .card-header:first-child {
//     border-radius: 0;
// }

// .ellipse{
//     text-overflow: ellipsis;
//     width: 300px;
// }
// .tabs ul.nav-tabs {
//     width: 98.6%;
//     margin-left: 0.6%;
// }
// .topics {

//     ol {
//         margin-bottom: 10px;

//         li {
//             border-left-width: 10px;
//             cursor: pointer;
//             margin-bottom: 2px;
//             border-radius: 0em;

//             &.active,
//             &:hover {
//                 border-color: #1d98d0;
//                 color: #000;
//                 background-color: #fff;
//             }
//         }
//     }
// }
// .test {
//     display: block;
//     display: -webkit-box;
//     max-width: 400px;
//     // height: 50px;
//     margin: 0 auto;
//     line-height: 1.2;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }
// i.icon {
//     display: inline-block;
//     border-radius: 60px;
//     box-shadow: 0px 0px 2px #888;
//     padding: 0.5em 0.6em;

// }
// .mat-expansion-panel-header {
//     background-color: #f2f2f2;
//     color: #fff;
//     font-weight: bolder;
// }
// /* .mat-multi-line is redundant */
// .list .mat-list .mat-list-item .mat-list-item-content {
//     padding: 0; /* try to use !important if doesn't work */
// }
// .mat-expansion-panel-body-no-padding {
//     padding: 0 0px 0px !important;
// }
// ::ng-deep .mat-expansion-panel-body {
//     padding: 0px 0px 0px 0px;
// }
// .panle-header-title {
//     width: 100%;
//     text-decoration: none;
//     color: #169BD5;
// }
// div.panle-header-title span:hover{
//     text-decoration: none;
// }
// a.accordion-toggle{
//     text-decoration: none !important;
// }

i {
    color: #169BD5;
    width: 14%;
}

.panel-header-title {
    display: flex;
    align-items: center;
}

span {
    // padding-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

