<mat-accordion>
    <mat-expansion-panel (click)="openPanel('objective')">
        <mat-expansion-panel-header>
            <!-- <div class="panel-header-title"> -->
            <i class="fa fa-2x fa-bullseye" aria-hidden="true"></i>
            <span>Objective & Outcome</span>
            <!-- </div> -->
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel (click)="openPanel('person')">
        <mat-expansion-panel-header>
            <!-- <div class="panel-header-title" > -->
            <i class="fa fa-2x fa-user" aria-hidden="true"></i>
            <span>Attendees</span>
            <!-- </div> -->
        </mat-expansion-panel-header>
        <app-attendees-panel
            (SelectedAttendee)="selectedAttendee()"
        ></app-attendees-panel>
    </mat-expansion-panel>
    <mat-expansion-panel (click)="openPanel('agenda')">
        <mat-expansion-panel-header>
            <!-- <div class="panel-header-title"> -->
            <i class="fa fa-2x fa-list" aria-hidden="true"></i>
            <span>Agenda</span>
            <!-- </div> -->
        </mat-expansion-panel-header>
        <app-agenda-panel></app-agenda-panel>
    </mat-expansion-panel>
    <mat-expansion-panel (click)="openPanel('attachment')">
        <mat-expansion-panel-header>
            <!-- <div class="panel-header-title"> -->
            <i class="fa fa-2x fa-paperclip" aria-hidden="true"></i>
            <span>Attachments</span>
            <!-- </div> -->
        </mat-expansion-panel-header>
        <app-attachment-panel></app-attachment-panel>
    </mat-expansion-panel>
    <mat-expansion-panel (click)="openPanel('actions')">
        <mat-expansion-panel-header>
            <!-- <div class="panel-header-title"> -->
            <i class="fa fa-2x fa-bullseye" aria-hidden="true"></i>
            <span>Actions</span>
            <!-- </div> -->
        </mat-expansion-panel-header>
        <app-actions-panel
            (Action)="selectedAction($event)"
            (quickActionAdd)="newAction($event)"
        ></app-actions-panel>
    </mat-expansion-panel>
    <mat-expansion-panel (click)="openPanel('decisions')">
        <mat-expansion-panel-header>
            <!-- <div class="panel-header-title"> -->
            <i class="fa fa-2x fa-gavel" aria-hidden="true"></i>
            <span>Decisions</span>
            <!-- </div> -->
        </mat-expansion-panel-header>
        <app-decision-panel
            [MeetingId]="MeetingId"
            (Decision)="selectedDecision($event)"
            (quickDecisionAdd)="newDecision($event)"
        ></app-decision-panel>
    </mat-expansion-panel>
    <mat-expansion-panel (click)="openPanel('notes')">
        <mat-expansion-panel-header>
            <!-- <div class="panel-header-title"> -->
            <i class="fa fa-2x fa-sticky-note" aria-hidden="true"></i>
            <span>Notes</span>
            <!-- </div> -->
        </mat-expansion-panel-header>
        <app-notes-panel
            (Note)="selectedNote($event)"
            (quickDecisionAdd)="newDecision($event)"
        ></app-notes-panel>
    </mat-expansion-panel>
</mat-accordion>
