// shared css for the login and signup page
@import "../login/login.component.scss";

.navigationLink{
  color: #2c3f4b;
  text-decoration: none;
}
.version {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: xx-small;
}