<div class="login-page">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="300px" />
            <form role="form" (keyup.enter)="submit()" name="loginForm">
                <div class="form-content">
                    <div class="panel panel-info">
                        Reset your password, by giving us your email.
                    </div>
                    <div class="form-group">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email"
                             name="username"
                             [(ngModel)]="username">
                        </mat-form-field>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="submit()"> Submit </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Login </a>&nbsp;
            </form>
        </div>
    </div>
    <div class="version">Version: {{ appVersion }}</div>
</div>

