<div class="meeting-table-name">
        <div class="meeting-logo">
            <i class="fa fa-calendar-o fa-2x"></i>
            <span style="margin-left: 5px; font-weight: bold; font-size: 26px;">My Meetings</span>
        </div>
        <div class="meeting-options">
            <i class="fa fa-align-center al-cn"></i>
            <i class="fa fa-ellipsis-v el-v"></i>
        </div>
    </div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-progress-bar mode="indeterminate" *ngIf="busy" ></mat-progress-bar>
<table mat-table
           [dataSource]="dataSource"
           matSort
           multiTemplateDataRows
           class="mat-elevation-z8"
           >
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header >
                <div style="color: #FFF;">
                    {{rewriteHeader(column)}}
                </div>
            </th>
            <td mat-cell *matCellDef="let element">
                <a (click)="rowEvent(element)" style="color: #08a7ff !important;"
                   routerLinkActive="active"
                   *ngIf="column === 'name' ">{{element[column]}} </a>
                <div *ngIf="column === 'duration' " >
                    {{ rewriteDuration(element[column])}}
                </div>
                <div *ngIf="column === 'date' " >
                    {{ rewriteDate(element[column]) }}
                </div>
                <div *ngIf="column === 'status' " [ngClass]="element[column]" style="max-width: 100px; width: 100px;">
                    {{ rewriteStatus(element[column]) }}
                </div>
            </td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="container">
                       <div class="row" >
                           <div class="col" style="height: 40px;">
                              <b>Owner:</b> {{ rewriteOwner(element.meetingOwnerId) }}
                           </div>
                           <div class="col">
                               <b>Organisation:</b> {{ rewriteCompany(element.meetingOwnerId) }}
                           </div>
                           <div class="col">
                               <b>Purpose:</b> {{ element.purpose }}
                           </div>
                           <div class="col">
                               <a (click)="rowEvent(element)" style="color: #08a7ff !important;"
                                  routerLinkActive="active">
                                   <i class="material-icons">
                                       launch
                                   </i>
                               </a>
                           </div>
                       </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            matRipple
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
