@import "../../../../styles";

$lines: unquote('#7c7c7c59');
table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}
.pointer {
    cursor: pointer; }

 tr.mat-header-row {
     background-color: $top-nav-link-color;
     color: #FFFFFF;
 }
table.mat-table, .mat-paginator {
    border: $lines solid 1px;
}
th.mat-header-cell {
    font-size: initial;
    font-weight: bolder;
}

.meeting-link {
    padding: 3px 3px 3px 5px;
    color: white;
    padding-right: 6px;
    border-radius: 4px;
}

.meeting-table-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.el-v {
    margin-left: 40px;
}

.mat-row:hover {
    background-color: rgba(27, 193, 255, 0.43);
    color: #FFF;
    cursor: pointer;
}

.mat-column-start {
    max-width: 100px;
    min-width: 80px;
}
.mat-header-row{

}
//table {
//    width: 100%;
//}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}
.cdk-column-status{width: 100px !important;}
.mat-column-status{width: 100px !important;}


.create {background-color:green; color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
.run {background-color: #1C98D0; color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
.minute {background-color:rgb(0, 66, 128); color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
.cancel {background-color:rgb(128, 0, 111); color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
.start {background-color:rgb(0, 128, 75); color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
.agenda {background-color:rgb(128, 105, 0); color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
.invite {background-color:rgb(38, 0, 128); color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
.stop {background-color: rgb(255, 33, 2); color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
.publish{background-color: rgb(255, 183, 5); color: #FFF; border-radius: 20px; padding: 5px; text-align: center;}
