/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@include mat-core();


$mat-myapp-primary: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #e06666,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-myapp-accent: (
    50 : #fffaed,
    100 : #fff4d1,
    200 : #ffecb3,
    300 : #ffe494,
    400 : #ffdf7d,
    500 : #ffd966,
    600 : #ffd55e,
    700 : #ffcf53,
    800 : #ffca49,
    900 : #ffc038,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff5e1,
    A700 : #ffedc8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




//Colour Variables
$top-nav-link-color: #3896C9;
$top-nav-background-color: #fff;
$side-menu-background-color: #1d98d0;
$active-menu-item: #e1e1e1;
$active-menu-item-text: #393939;
$menu-text-color: #fff;
$menu-item-color: #4cadd9;

.mat-fab.mat-accent{
    background-color: $top-nav-link-color;
}

//Top customization
$top-nav-link-padding: 7px;
 .fr-wrapper > :first-child { display: none !important;}

 a[href="http://editor.froala.com"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
 }

.input-group-addon {
    height: 40px !important;
    width: 50px !important;
}
.ng-select.ng-select-single .ng-select-container {
    height: 40px !important;
    border-radius: 0;
}

.navbar {
    padding: 0.0rem 0rem;
}
a {
    text-decoration: none !important;
}
.btn-outline-primary {
    color: $active-menu-item-text;
    background-image: none;
    background-color: $active-menu-item;
    border-color: $active-menu-item;
}

i:hover, .button-title:hover {
    cursor: pointer;
}

.btn-outline-primary:hover {
    color: #fff;
    background-image: none;
    background-color: $active-menu-item-text;
    border-color: $active-menu-item;
}
.dropdown-toggle::after {
    display:none;
}

.dropdown-menu {
    min-width: 200px !important;
}
