<div class="card">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-users"></i>&nbsp; User Management
        </div>
        <div class="card-body">
            <section class="full-licencesection">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <b>Full Access Licences</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <span class="info">{{ users.length }} of 100 used</span>
                    </div>
                    <div class="col-sm-2">
                        <span class="info">Active</span>
                    </div>
                    <div class="col-sm-2" style="display: none;">
                        <span class="info">Revoked</span>
                    </div>
                    <div class="col-sm-2" style="display: none;">
                        <span class="info">Requests</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <ngb-progressbar
                            type="success"
                            [value]="users.length"
                        ></ngb-progressbar>
                        <div class="progress" style="display: none">
                            <div
                                class="progress-bar"
                                role="progressbar"
                                style="width: 50%"
                                aria-valuenow="users.length"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            ></div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        {{ users.length }}
                    </div>
                    <div class="col-sm-2" style="display: none;">
                        0
                    </div>
                    <div class="col-sm-2" style="display: none;">
                        <span class="badge badge-danger">{{
                            requests.length
                        }}</span>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </section>
            <section class="guest-licencesection" style="display: none;">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <b>Guest Access Licences</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <span class="info">46 of 50 used</span>
                    </div>
                    <div class="col-sm-2">
                        <span class="info">Active</span>
                    </div>
                    <div class="col-sm-2">
                        <span class="info">Revoked</span>
                    </div>
                    <div class="col-sm-2">
                        <span class="info">Invited</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="progress">
                            <div
                                class="progress-bar"
                                role="progressbar"
                                style="width: 92%"
                                aria-valuenow="46"
                                aria-valuemin="0"
                                aria-valuemax="50"
                            ></div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        46
                    </div>
                    <div class="col-sm-2">
                        12
                    </div>
                    <div class="col-sm-2">
                        3
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </section>
            <section class="guest-licencesection">
                <div class="container-fluid">
                    <ngb-accordion [closeOthers]="true" activeIds="static-2">
                        <!-- <ngb-panel id="static-1"  >
                            <ng-template ngbPanelTitle >
                                <span>Pendig Requests for Full Access (2)</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr class="primary">
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Date Activated</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Access</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>bbbbbbb</td>
                                            <td>bbbbbbb</td>
                                            <td>bbbbbbb</td>
                                            <td>bbbbbbb</td>
                                            <td>bbbbbbb</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                        </ngb-panel> -->
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle>
                                <span>All Active Users</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr class="primary">
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users">
                                            <td>{{ user.fullName }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                <mat-form-field>
                                                    <mat-select
                                                        [(ngModel)]="user.role"
                                                        (selectionChange)="
                                                            onStatusChange(
                                                                $event,
                                                                user
                                                            )
                                                        "
                                                        name="statusControl"
                                                    >
                                                        <mat-option
                                                            [value]="
                                                                statusAction
                                                            "
                                                            *ngFor="
                                                                let statusAction of statusCollection
                                                            "
                                                            >{{ statusAction }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <button
                                                    mat-button
                                                    (click)="deleteAction(user)"
                                                >
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </section>
        </div>
    </div>
</div>
