$header-bg-colour: #464646;
$header-text-colour: #fff;
$info-text-color: #797979;
$table-header-primary: #cccccc;
$table-header-secondary: #f2f2f2;
.card {
    border-radius: 0em;
    .card-header {
        padding: 0.6rem 1.25rem;
        background-color: $header-bg-colour;
        color: $header-text-colour;
        border-radius: 0em;
    }
}

.full-licencesection,
.guest-licencesection {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    span {
        &.info {
            color: $info-text-color;
            font-weight: 400;
            font-style: normal;
            height: 16px;
        }
    }
}

table {
    thead {
        tr {
            &.primary {
                background-color: $table-header-primary;
            }
            th {
                border: 1px solid $table-header-primary;
            }
            &.secondary {
                background-color: $table-header-secondary;
            }
        }
    }
}
