.input-time {
    width: 85px;
    padding: 5px; // outline: none;
    // box-shadow: none !important;
    // background: transparent;
    // border: #eceeef solid 1px;
    // font-size: 16px;
    border: 1px solid #A9A9A9;
}

.spinner-icon {
    width: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: flex;
    flex-direction: row;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    opacity: 1;
}

// input[type=time]::-ms-clear {
//     width: 0;
//     height: 0;
// }

input:focus {
    outline: none;
}