<div class="time-wrapper">
    <span class="input-group-addon addon spinner-icon" >
        <i [class]="icon" aria-hidden="true"></i>
    </span>
    <input
        [disabled]="!canEdit"
        #spinnerControl
        [type]="type"
        [value]="data"
        class="input-time"
        (keyup.enter)="update(spinnerControl.value)"
        (blur)="update(spinnerControl.value)"
        (change)="update(spinnerControl.value)"
        style="padding-top: 7px;">
</div>


