<li class="nav-item dropdown" ngbDropdown>
  <a href="javascript:void(0)" class="message" ngbDropdownToggle>
    <i class="fa fa-envelope-o fa-2x"></i>
    <b class="caret"></b>
    <span class="sr-only">(current)</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <a href="javascript:void(0)" class="dropdown-item">Pending Task
      <span class="badge badge-info">6</span>
    </a>
    <a href="javascript:void(0)" class="dropdown-item">In queue
      <span class="badge badge-info"> 13</span>
    </a>
    <a href="javascript:void(0)" class="dropdown-item">Mail
      <span class="badge badge-info"> 45</span>
    </a>
    <li class="dropdown-divider"></li>
    <a href="javascript:void(0)" class="dropdown-item">View All</a>
  </ul>
</li>

